$colors: (
    'common': (
        'white': #F5F7F5,
        'white-solid': #ffff,
        'black': #010103,
        'black-solid': #000,
        'paste': #073333,
        'brown': #DFAE4F,
        'yellow': #fff669,
    ),
    'grey': (
        '1':#F5F7F5,
        '2':#f1f1f1,
    ),
    'text': (
        'body':#717171,
    ),
    'theme': (
        'primary': #C9F31D,
        'secondary': #F5F7F5,
    ),
    'border': (
        '1': #EAEBED,
        '2': #e7e7e7,
    )
);