@use '../../utils' as *;
/*----------------------------------------*/
/*   3.1 Header Style
/*----------------------------------------*/

.header-transparent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
}
.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 55;
}
.tp-header{
    &-ptb{
        @media #{$lg,$md,$xs}{
            padding: 10px 0;
        }
    }
    &-border{
        border-bottom: 1px solid rgba($color: #F5F7F5, $alpha: 0.1);
    }
    &-inner{
        &-border{
            border-bottom: 1px solid rgba($color: #010103, $alpha: 0.1);
        }
        &-box{
            & .tp-header-menu{
                & > nav{
                    & > ul{
                        & > li{
                            & > a{
                                color: var(--tp-common-black);
                                &::after{
                                    filter: invert(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-cr{
        & .tp-header-menu > nav > ul > li{
            @media #{$xl} {
                margin: 0 7px;
            }
        }
    }
    &-menu{
        & > nav{
            & > ul{
                & > li{
                    margin: 0 13px;
                    list-style-type: none;
                    display: inline-block;
                    @media #{$xl}{
                        margin: 0 15px;
                    }
                    & > a{
                        padding: 36px 0;
                        font-weight: 700;
                        font-size: 16px;
                        display: inline-block;
                        text-transform: uppercase;
                        color: var(--tp-theme-secondary);
                        font-family: var(--tp-ff-bricolage);
                    }
                }
            }
        }
    }
    &-box{
        @media #{$x3l,$xxl}{
            padding-right: 30px;
        }
        @media #{$xl}{
            padding-right: 0px;
        }
    }
    &-logo{
        & img {
            max-width: inherit;
        }
        @media #{$x3l}{
            padding-left: 30px;
        }
        @media #{$xl}{
            padding-right: 25px;
        }
        @media #{$lg,$md,$xs}{
            padding: 10px 0;
        }
    }
    &-bar{
        & button{
            width: 56px;
            height: 56px;
            display: grid;
            text-align: center;
            place-content: center;
            background-color: var(--tp-theme-primary);
            @media #{$xs}{
                width: 45px;
                height: 45px;
            }
            & i{
                &:nth-child(2){
                    width: 24px;
                }
                height: 2px;
                width: 14px;
                display: block;
                margin-left: 0;
                background-color: var(--tp-common-white);
                @media #{$lg,$md,$xs}{
                    background-color: var(--tp-common-black);
                }
                &:nth-child(2){
                    margin: 6px auto;
                }
            }
            &:hover{
                & i {
                    animation: bar_anim 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
                }
            }
        }
    }
    &-shop-cart{
        & .cartmini-open-btn{
            position: relative;
            width: 40px;
            height: 40px;
            display: grid;
            font-size: 16px;
            border-radius: 25px;
            text-align: center;
            place-content: center;
            @include tp-transition();
            color: var(--tp-common-black);
            border: 1px solid rgba(1, 1, 3, 0.1);
            &:hover{
                background-color: var(--tp-common-white);
            }
            & span{
                position: absolute;
                font-size: 10px;
                top: -8px;
                right: -8px;
                width: 20px;
                height: 20px;
                display: grid;
                border-radius: 25px;
                text-align: center;
                place-content: center;
                color: var(--tp-common-white);
                background-color: var(--tp-common-black);
            }
        }
    }
    &-5{
        &-menu{
            & > nav {
                & > ul {
                    & > li {
                        & > a{
                            color: var(--tp-common-black);
                        }
                    }
                }
            }
            &.tp-header-dropdown {
                & nav {
                    & ul {
                        & li{
                            &.has-dropdown {
                                & > a{
                                    &::after{
                                        color: var(--tp-common-black);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-7{
        &-top{
            padding: 10px 0 0;
            border-bottom: 1px solid rgba(245, 247, 245, 0.10);
            &-text{
                & p{
                    font-size: 16px;
                    color: var(--tp-common-white);
                }
            }
        }
        &-main{
            @media #{$lg,$md,$xs} {
                padding: 10px 0;
            }
        }
        &-info{
            & a{
                font-size: 16px;
                font-weight: 600;
                display: inline-block;
                text-transform: capitalize;
                color: var(--tp-common-white);
                &:hover{
                    opacity: 0.7;
                }
                & span{
                    margin-right: 4px;
                    display: inline-block;
                }
            }
        }
    }
    &-9{
        &-main{
            display: flex;
            justify-content: end;
            & .tp-header-box{
                margin-right: 100px;
                @media #{$xl,$lg,$md} {
                    margin-right: 50px;
                }
                @media #{$xs} {
                    margin-right: 0;
                }
            }
            & .tp-header-7-info{
                margin-right: 90px;
            }
        }
        &-right{
            position: relative;
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: -50px;
                width: 1px;
                height: 100%;
                background-color: rgba($color: #F5F7F5, $alpha: 0.1);
                @media #{$xl,$lg,$md,$xs} {
                    content: none;
                }
            }
            &::after{
                position: absolute;
                content: '';
                top: 0;
                right: 46%;
                width: 1px;
                height: 100%;
                background-color: rgba($color: #F5F7F5, $alpha: 0.1);
                @media #{$xl,$lg,$md,$xs} {
                    content: none;
                }
            }
        }
    }
    &-10{
        &-logo{
            & a{
                max-width: 230px;
                padding: 36px 56px;
                display: inline-block;
                border-radius: 0 0 8px 8px;
                background-color: #DFAE4F;
                @media #{$xl} {
                    padding: 28px 32px;
                }
                @media #{$lg} {
                    padding: 25px 40px;
                }
                @media #{$md,$xs} {
                    padding: 16px;
                }
            }
        }
        &-right{
            & .tp-header-bar {
                & button{
                    width: auto;
                    height: auto;
                    background-color: transparent;
                    & i{
                        background-color: var(--tp-common-white);
                        &:nth-child(1){
                            width: 21px;
                        }
                        &:nth-child(2){
                            width: 36px;
                        }
                    }
                }
            }
        }
        &-btn{
            &-box{
                & .tp-btn-green{
                    font-weight: 500;
                    padding: 15px 25px;
                    border-radius: 50px;
                    background: #DFAE4F;
                    text-transform: capitalize;
                    font-family: var(--tp-ff-p);
                }
            }
        }
    }
    &-hr{
        &-main{
            padding: 40px 0;
            @media #{$lg,$md,$xs} {
                padding: 0;
            }
        }
    }
    &-pp{
        &-bar-wrap{
            & .tp-header-bar {
                & button {
                    & i{
                        width: 37px;
                        &:nth-child(1){
                            width: 20px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        &-btn{
            font-size: 16px;
            font-weight: 600;
            padding: 10px 20px;
            border-radius: 50px;
            display: inline-block;
            letter-spacing: -0.48px;
            color: var(--tp-common-white);
            border: 1px solid rgba(245, 247, 245, 0.10);
            & span{
                @extend %svg-1;
                margin-left: 5px;
                display: inline-block;
            }
            &:hover{
                color: var(--tp-common-black);
                background-color: var(--tp-common-yellow);
            }
        }
    }
}
.hr-side{
    &-header{
        top: 0;
        left: 0;
        width: 320px;
        height: 100vh;
        padding: 40px 0;
        position: fixed;
        @media #{$x4l} {
            width: 300px;
        }
        @media #{$x3l} {
            width: 268px;
        }
        @media #{$xxl} {
            width: 232px;
        }
        @media #{$xl} {
            width: 200px;
        }
        &-logo{
            padding: 0 40px;
            @media #{$xxl} {
                padding: 0 25px;
            }
            @media #{$xl} {
                padding: 0 15px;
            }
        }
        &-menu{
            & > nav{
                & > ul{
                    & > li{
                        display: block;
                        position: relative;
                        list-style-type: none;
                        & a{
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 1.2;
                            display: block;
                            padding: 15px 40px;
                            text-transform: uppercase;
                            color: var(--tp-common-white);
                            font-family: var(--tp-ff-bricolage);
                            @media #{$xxl} {
                                padding: 15px 25px;
                            }
                            @media #{$xl} {
                                padding: 15px 15px;
                            }
                        }
                    }
                }
            }
            &.tp-header-dropdown {
                & nav {
                    & ul {
                        & li {
                            & .tp-submenu{
                                top: 0;
                                left: 100%;
                                background: rgb(11, 44, 51);
                                & li{
                                    &:hover{
                                        & > a{
                                            background: rgba(255, 255, 255, 0.04);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-btn{
            padding: 0 40px;
            & .tp-btn-green.br-8{
                &:hover{
                    background-color: var(--tp-common-white);
                }
                & span{
                    margin-left: 5px;
                }
            }
            @media #{$xxl} {
                padding: 0 25px;
            }
            @media #{$xl} {
                padding: 0 15px;
            }
        }
    }
}
.tp-header{
    &-port{
        &-bar{
            & span{
                color: var(--tp-common-white);
                cursor: pointer;
            }
        }
        &-btn{
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            border-radius: 50px;
            display: inline-block;
            text-transform: uppercase;
            padding: 18px 39px 14px 39px;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-teko);
            animation-delay: 0.5s;
            animation-duration: 1s;
            border: 1px solid rgba(245, 247, 245, 0.1);
            &:hover{
                background: var(--tp-common-yellow);
                color: var(--tp-common-black);
            }
            & svg{
                margin-left: 5px;
            }
            &-wrap{
                transform: rotate(-90deg);
                transform-origin: center;
                white-space: nowrap;
                @media #{$lg,$md,$xs} {
                    transform: rotate(0);
                }
            }
        }
        &-logo{
            transform: rotate(-90deg);
            transform-origin: center;
            white-space: nowrap;
            @media #{$lg,$md,$xs} {
                transform: rotate(0);
            }
        }
        &-wrap{
            width: 100px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 11;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 70px 0px 100px;
            border-right: 1px solid #2a251d;
            background: #110C04;
            @media #{$lg,$md,$xs} {
                width: 100%;
                flex-direction: row; 
                bottom: auto;
                padding: 10px 12px 10px;
            }
            @media #{$xs} {
                padding: 20px 12px 20px;
            }
        }
    }
    &-8{
        &-bar{
            transition: .3s;
            padding: 8px 22px;
            border-radius: 24px;
            display: inline-block;
            border: 1px solid rgba(555, 555, 555, 0.1);
            &:hover{
                border-color: var(--tp-common-white);
                background-color: var(--tp-common-white);
                & span{
                    color: var(--tp-common-black);
                }
            }
            & span{
                line-height: 1;
                transition: .3s;
                font-size: 15px;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                font-weight: 600;
                color: var(--tp-common-white);
                & svg{
                    margin-left: 7px;
                }
            }
            &.bar-black-style{
                border: 1px solid rgba(1, 1, 3, 0.10);
                & span{
                    color: var(--tp-common-black);
                }
            }
        }
        &-wrapper{
            padding: 18px 0;
        }
        &-info{
            & a{
                font-size: 15px;
                font-weight: 600;
                color: var(--tp-common-white);
            }
        }
    }
}