@use '../../utils' as *;

/*----------------------------------------*/
/*  6.4 Footer Style 4
/*----------------------------------------*/

.tp-footer-4 {
    
    &-col{
        &-1{
            
        }
        &-2{
            padding-left: 60px;
            @media #{$lg,$md,$xs} {
                padding-left: 0;
            }
        }
        &-3{
            padding-left: 30px;
            @media #{$lg,$md,$xs} {
                padding-left: 0;
            }
        }
        &-4{
            & .tp-btn-green{
                font-weight: 700;
                text-transform: uppercase;
                background-color: transparent;
                color: var(--tp-theme-primary);
            }
        }
    }
}