@use '../../utils' as *;

/*----------------------------------------*/
/*  6.3 Footer Style 3
/*----------------------------------------*/

.tp-footer-3 {
    &-top{
        &-wrap{
            border-bottom: 1px solid rgba($color: #F5F7F5, $alpha: 0.1);
            @media #{$xxl,$xl} {
                padding-bottom: 80px;
            }
            @media #{$lg,$md,$xs} {
                padding-bottom: 60px;
            }
        }
        &-menu{
            position: relative;
            &::before{
                left: 0;
                z-index: 1;
                content: "";
                width: 100%;
                height: 25px;
                bottom: -10px;
                position: absolute;
                background-color: var(--tp-common-black);
            }
            & ul{
                gap: 195px;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                @media #{$xxl} {
                    gap: 155px;
                }
                @media #{$xl} {
                    gap: 70px;
                }
                @media #{$lg} {
                    gap: 50px;
                }
                @media #{$md,$xs} {
                    gap: 30px;
                }
                & li{
                    position: relative;
                    display: inline-block;
                    & a{
                        font-size: 65px;
                        font-weight: 600;
                        line-height: 1;
                        color: transparent;
                        font-family: var(--tp-ff-p);
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: rgba(245, 247, 245, 0.2);
                        background: linear-gradient(#fff, #fff) left no-repeat, rgba(0, 0, 0, 0.2);
                        background-size: 0% 100%;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        @media #{$lg} {
                            font-size: 56px;
                        }
                        @media #{$md} {
                            font-size: 44px;
                        }
                        &:hover{
                            background-size: 100% 100%;
                        }
                    }
                    & span{
                        width: 152px;
                        height: 152px;
                        font-size: 12px;
                        font-weight: 600;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        place-content: center;
                        text-transform: uppercase;
                        color: var(--tp-common-black);
                        font-family: var(--tp-ff-unbounded);
                        background-color: var(--tp-theme-primary);
                    }
                }
            }
            & .hover-reveal-item{
                & .circle-btn-pos{
                    width: 152px;
                    height: 152px;
                    border-radius: 50%;
                }
            }
        }
    }
    &-bottom{
        &-wrap{
            border-bottom: 1px solid rgba(245, 247, 245, 0.1);
            @media #{$lg,$md,$xs} {
                padding-bottom: 0;
            }
            @media #{$xs} {
                padding-top: 70px;
            }
        }
    }

    &-col{
        &-1{
            & .tp-footer-widget{
                &-info{
                    & span{
                        margin-bottom: 30px;
                    }
                    & a{
                        font-size: 16px;
                    }
                    & p{
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: var(--tp-common-white);
                    }
                }
            }
        }
        &-2,
        &-3{
            & .tp-footer-widget{
                &-menu {
                    & ul {
                        & li{
                            &:not(:last-child) {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
        &-2{
            padding-left: 55px;
            @media #{$md,$xs} {
                padding-left: 0;
            }
        }
        &-3{
            padding-left: 30px;
            @media #{$md,$xs} {
                padding-left: 0;
            }
        }
        &-4{
            
        }
    }
    &-copyright{
        &-text{
            & p{
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                text-transform: capitalize;
                color: var(--tp-common-white);
                & a{
                    font-weight: 600;
                    color: var(--tp-theme-primary);
                }
            }
        }
    }
}