@use '../../utils' as *;

/*----------------------------------------*/
/*  6.2 Footer Style 2
/*----------------------------------------*/

.ds-footer{
    &-top{
        &-wrap{
            padding-bottom: 60px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    &-heading{
        & .tp-section-title{
            margin-bottom: 14px;
            color: var(--tp-common-white);
        }
        & p{
            font-size: 16px;
            font-weight: 400;
            color: #CECECE;
            text-transform: capitalize;
            & br{
                @media #{$xl,$lg,$md,$xs} {
                    display: none;
                }
            }
        }
    }
    &-btn{
        & .tp-btn-circle{
            width: 160px;
            height: 160px;
            border-color: transparent;
            background-color: var(--tp-theme-primary);
            &:hover{
                background-color: var(--tp-common-white);
            }
        }
    }
    &-widget{
        & .tp-footer-widget{
            &-info{
                & a{
                    font-size: 16px;
                }
                & .tel{
                    & a{
                        font-size: 20px;
                        font-weight: 600;
                        color: var(--tp-common-white);
                    }
                }
            }
        }
        &-input{
            & input{
                height: 50px;
                padding-right: 100px;
                color: var(--tp-common-white);
                background-color: transparent;
                border: 1px solid rgba(113, 113, 113, 0.50);
                @include tp-placeholder{
                    color: rgba(245, 247, 245, 0.80);
                }
                &:focus{
                    border-color: var(--tp-theme-primary);
                }
            }
            & .tp-btn-green{
                position: absolute;
                top: 6px;
                right: 6px;
                font-size: 13px;
                font-weight: 500;
                padding: 12px 15px;
            }

            &.tp-footer-6-input{
                gap: 8px;
                display: flex;
                @media #{$xl} {
                    flex-wrap: wrap;
                }
                & input{
                    width: 258px;
                    height: 40px;
                    font-size: 14px;
                    padding-right: 30px;
                    border-radius: 50px;
                    @include tp-placeholder{
                        font-size: 14px;
                    }
                    @media #{$lg} {
                        width: 165px;
                    }
                }
            }
        }
    }
    &-social{
        gap: 4px;
        display: flex;
        & a{
            &:hover{
                & span{
                    color: var(--tp-common-black);
                    background-color: var(--tp-theme-primary);
                }
            }
            & span{
                width: 40px;
                height: 40px;
                display: grid;
                border-radius: 50%;
                place-content: center;
                @include tp-transition();
                color: var(--tp-common-white);
                border: 1px solid rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
    &-bottom{
        &-warp{
            @media #{$xs} {
                padding-bottom: 50px;
            }
        }
    }
}

.ds-copyright{
    &-area{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    &-wrap{
        padding: 30px 0px;
    }
}

.sa-footer{
    &-ptb{
        @media #{$xl,$lg} {
            padding-top: 80px;
        }
        @media #{$md,$xs} {
            padding-top: 60px;
        }
    }
    &-top{
        &-wrap{
            border-bottom: 1px solid rgba($color: #010103, $alpha: 0.1);
            @media #{$xl,$lg} {
                padding-bottom: 80px;
            }
            @media #{$md,$xs} {
                padding-bottom: 60px;
            }
        }
    }
    &-big{
        &-text{
            margin: 0;
            font-size: 200px;
            font-weight: 800;
            line-height: 1;
            text-transform: uppercase;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-unbounded);
            @media #{$xxl} {
                font-size: 170px;
            }
            @media #{$xl} {
                font-size: 150px;
            }
            @media #{$lg} {
                font-size: 120px;
            }
            @media #{$md} {
                font-size: 95px;
            }
            @media #{$xs} {
                font-size: 50px;
            }
            @media #{$sm} {
                font-size: 70px;
            }
        }
    }
    &-bottom{
        &-warp{
            border-bottom: 1px solid rgba($color: #010103, $alpha: 0.1);
            @media #{$md,$xs} {
                padding-top: 50px;
                padding-bottom: 40px;
            }
        }
    }
    &-copyright{
        &-wrap{
            & .tp-copyright{
                &-text {
                    & p{
                        color: var(--tp-common-black);
                        & a{
                            color: var(--tp-common-black);
                        }
                    }
                }
                &-menu{
                    & a{
                        color: var(--tp-common-black);
                    }
                }
            }
        }
    }

    &-col{
        &-1{

        }
        &-2{
            & .tp-footer-widget{
                &-title{
                    color: var(--tp-common-black);
                }
                &-info {
                    & a{
                        color: #010103;
                    }
                }
            }
            & .ds-footer-social{
                margin-top: 24px;
                & a{
                    &:hover{
                        & span{
                            border-color: var(--tp-theme-primary);
                        }
                    }
                    & span{
                        color: var(--tp-common-black);
                        border-color: rgba($color: #010103, $alpha: 0.1);
                    }
                }
            }
        }
        &-3{
            & .tp-footer-widget{
                &-title{
                    color: var(--tp-common-black);
                }
                &-info {
                    & a{
                        color: #010103;
                    }
                    & .tel{
                        & a{
                            color: var(--tp-common-black);
                        }
                    }
                }
            }
        }
        &-4{
            & .tp-footer-widget{
                &-title{
                    color: var(--tp-common-black);
                }
            }
            & .ds-footer-widget-input {
                & input{
                    color: var(--tp-common-black);
                    @include tp-placeholder{
                        font-size: 12px;
                        color: rgba(1, 1, 3, 0.8);
                    }
                    &:focus{
                        border-color: var(--tp-common-black);
                    }
                }
            }
        }
    }
}