@use '../utils' as *;

/*----------------------------------------*/
/*  2.1 Accordion
/*----------------------------------------*/

.tp-faq-accordion-wrap{
    & .accordion-items{
        border: 1px solid rgba(1, 1, 3, 0.07);
    }
    & .accordion-buttons{
        position: relative;
        padding: 20px 30px;
        padding-bottom: 15px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.7;
        width: 100%;
        text-align: left;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: var(--tp-common-black);
        @media #{$xs} {
            padding-right: 50px;
            line-height: 1.3;
        }
        &:not(.collapsed){
            & .tp-accordion-icon{
                & svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
    & .accordion-body{
        padding: 0 30px;
        padding-right: 100px;
        @media #{$xs} {
            padding-right: 30px;
        }
        & p{
            margin-bottom: 0;
            padding-bottom: 30px;
            & br{
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
    & .tp-accordion-icon{
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        & svg{
            transition: .3s;
        }
    }
}