@use '../utils' as *;

/*----------------------------------------*/
/*  2.5 Breadcrumb
/*----------------------------------------*/

.tp-breadcrumb{
    &-s1{
        &-ptb{
            @media #{$lg,$md,$xs} {
                padding-top: 170px;
            }
        }
        &-shape{
            position: absolute;
            top: 0;
            right: 0;
            @media #{$xs} {
                top: -55px;
            }
            &-two{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &-content{
            @media #{$lg} {
                padding-bottom: 100px;
            }
            @media #{$md,$xs} {
                padding-bottom: 80px;
            }
        }
        &-title{
            font-size: 80px;
            font-weight: 500;
            line-height: 1.1;
            margin-bottom: 50px;
            letter-spacing: -4.8px;
            text-transform: uppercase;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-unbounded);
            & br{
                @media #{$md,$xs} {
                    display: none;
                }
            }
            @media #{$lg} {
                font-size: 60px;
            }
            @media #{$md} {
                font-size: 50px;
            }
            @media #{$xs} {
                font-size: 40px;
                letter-spacing: 0;
                margin-bottom: 35px;
            }
        }
        &-wrap{
            gap: 60px;
            display: flex;
            align-items: start;
            padding-left: 220px;
            @media #{$md,$xs} {
                gap: 40px;
                padding-left: 0;
            }
            @media #{$xs} {
                gap: 20px;
                flex-wrap: wrap;
            }
        }
        &-subtitle{
            position: relative;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-unbounded);
            &::after{
                height: 1px;
                width: 39px;
                content: '';
                margin-left: 10px;
                display: inline-block;
                transform: translateY(-5px);
                background-color: var(--tp-common-black);
            }
        }
        &-text{
            & p{
                font-size: 18px;
                color: #010103;
                line-height: 28px;
                text-transform: capitalize;
                & br{
                    @media #{$xs} {
                        display: none;
                    }
                }
            }
        }
        &-bottom{
            padding: 30px 0;
            border-top: 1px solid rgba($color: #010103, $alpha: 0.1);
            &-text{
                & p{
                    color: #010103;
                    font-weight: 700;
                    letter-spacing: -0.42px;
                    text-transform: uppercase;
                    font-family: var(--tp-ff-unbounded);
                    & svg{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    &-s2{
        &-ptb{
            padding-top: 300px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &-bg{
            &::after{
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                content: "";
                position: absolute;
                background: rgba($color: #010103, $alpha: 0.3);
            }
        }
        &-title{
            font-size: 70px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 10px;
            letter-spacing: -3.5px;
            text-transform: uppercase;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-space);
            @media #{$xs} {
                font-size: 50px;
                letter-spacing: -2px;
            }
            @media #{$sm} {
                font-size: 55px;
            }
        }
        &-content{
            position: relative;
            & p{
                font-size: 16px;
                font-weight: 500;
                letter-spacing: -0.8px;
                text-transform: uppercase;
                color: var(--tp-common-white);
            }
        }
    }
    &-s3{
        &-shape{
            right: 0;
            bottom: 0;
            position: absolute;
        }
        &-content{
            & .tp-breadcrumb-s1{
                &-title,
                &-subtitle{
                    text-transform: capitalize;
                    color: var(--tp-common-white);
                }
                &-text{
                    & p{
                        color: var(--tp-common-white);
                    }
                }
            }
        }
    }
    &-s4{
        &-ptb{
            @media #{$lg,$md} {
                padding-top: 77px;
            }
            @media #{$xs} {
                padding-top: 67px;
            }
        }
    }
    &-s5{
        &-ptb{
            padding-top: 193px;
            & .tp-breadcrumb-s1-bottom-text p {
               font-size: 14px;
               letter-spacing: -0.03em;
            }
            & .tp-breadcrumb-s1-bottom {
                padding: 27px 0;
                padding-bottom: 10px;
            }
        }
        &-title{
            font-weight: 500;
            font-size: 120px;
            line-height: 117%;
            letter-spacing: -0.06em;
            @media #{$lg} {
                font-size: 80px;
            }
            @media #{$md} {
                font-size: 70px;
            }
            @media #{$xs} {
                font-size: 45px;
            }
            & img{
                transform: translateY(-10px);
                @media #{$lg} {
                    width: 150px;
                }
                @media #{$xs} {
                    width: 110px;
                    transform: translateY(-5px);
                }
                @media #{$xs} {
                    width: 90px;
                }
            }
        }
    }
    &-s6{
        &-ptb{
            background: #f6f6f9;
            padding-top: 128px;
            padding-bottom: 28px;
            @media #{$lg,$md} {
                padding-top: 106px;
            }
            @media #{$xs} {
                padding-top: 96px;
            }
        }
        &-content{
            & ul{
                display: flex;
                & li{
                    list-style: none;
                    font-family: var(--tp-ff-bricolage);
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 111%;
                    color: var(--tp-common-black);
                    & i{
                        font-size: 14px;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    &-s7{
        &-ptb{
            padding-top: 200px;
            padding-bottom: 100px;
        }
        &-shape{
            position: absolute;
            bottom: 170px;
            right: 185px;
            @media #{$xxl,$xl,$lg,$md,$xs} {
                right: 0;
            }
        }
        &-title{
            font-size: 80px;
            font-weight: 600;
            line-height: 119%;
            letter-spacing: -0.05em;
            @media #{$xl,$lg,$md,$xs} {
                font-size: 60px;
            }
            @media #{$md,$xs} {
                font-size: 45px;
            }
            @media #{$xs} {
                font-size: 36px;
                & span{
                    display: none;
                }
            }
            & br{
                @media #{$xs} {
                    display: none;
                }
            }
            & img{
                border-radius: 100px;
                margin-right: 10px;
                margin-top: -18px;
                @media #{$xl,$lg} {
                    width: 150px;
                    margin-top: -10px;
                }
                @media #{$md,$xs} {
                    width: 100px;
                    margin-top: -5px;
                }
            }
        }
        &-content{
            & p{
                font-size: 16px;
                line-height: 187%;
                color: rgba(1, 1, 3, 0.8);
            }
        }
        &-list{
            & ul{
                column-count: 2;
                @media #{$xs} {
                    column-count: 1;
                }
                & li{
                    font-family: var(--tp-ff-bricolage);
                    font-weight: 600;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: var(--tp-common-black);
                    list-style: none;
                    margin-bottom: 13px;
                }
            }
        }
    }
    &-s8{
        &-style{
            & .tp-breadcrumb-s7-content {
                margin-left: -61px;
                @media #{$md,$xs} {
                    margin-left: 0;
                }
            }
        }
    }
    &-s9{
        &-spacing{
            padding-top: 330px;
            padding-bottom: 225px;
            @media #{$lg,$md}{
                padding-top: 230px;
                padding-bottom: 125px;
            }
            @media #{$sm,$xs}{
                padding-top: 180px;
                padding-bottom: 100px;
            }
        }
        &-shape{
            position: absolute;
            bottom: 0;
            width: 32%;
            left: 0;
            z-index: -1;
            &-2{
                position: absolute;
                bottom: 157px;
                right: 20%;
                @media #{$xl,$lg,$md,$xs} {
                    right: 0;
                }
            }
        }
        &-subtitle{
            & .tp-breadcrumb-s1-subtitle{
                color: var(--tp-common-white);
                &::after{
                    background: var(--tp-common-white);
                }
            }
            & span{
                font-family: var(--tp-ff-unbounded);
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                color: var(--tp-common-white);
                margin-left: 10px;
            }
        }
        &-title{
            font-weight: 600;
            font-size: 80px;
            line-height: 119%;
            letter-spacing: -0.05em;
            color: var(--tp-common-white);
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
    }
    &-s10{
        &-style{
            padding-top: 243px;
            padding-bottom: 125px;
            @media #{$sm,$xs}{
                padding-top: 180px;
                padding-bottom: 100px;
            }
        }
        &-shape{
            position: absolute;
            left: 7%;
            top: 40%;
            @media #{$xl,$lg,$md,$sm,$xs}{
                left: 0;
            }
            &-2{
                position: absolute;
                top: -10%;
                right: 0;
            }
        }
        &-title {
            font-size: 100px;
            line-height: 110%;
            letter-spacing: -0.06em;
            color: var(--tp-common-white);
            @media #{$md}{
                font-size: 70px;
            }
            @media #{$sm,$xs}{
                font-size: 40px;
            }
        }
        &-subtitle{
            font-size: 18px;
            line-height: 156%;
            text-transform: capitalize;
            color: var(--tp-common-white);
            opacity: 0.8;
            @media #{$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
    }
    &-s11{
        &-style{
            padding-top: 243px;
            padding-bottom: 125px;
            @media #{$md,$sm,$xs}{
                padding-top: 180px;
                padding-bottom: 70px;
            }
            & .tp-service-inner-2-bigtext {
                color: var(--tp-theme-primary);
                font-weight: 500;
                font-size: 210px;
                top: 553px;
            }
        }
    }
    &-s12{
        &-style{
            & .tp-breadcrumb-s1-subtitle {
                color: var(--tp-common-white);
            }
            & .tp-breadcrumb-s1-subtitle::after {
                background-color: var(--tp-common-white);
            }
            & .tp-breadcrumb-s7-content p {
                color: rgba(555, 555, 555, 0.8);
                @media #{$md,$sm,$xs}{
                    & br{
                        display: none;
                    }
                }
            }
        }
    }
    &-s13{
        &-shape{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}
  

.tp-breadcrumb{
    &-s1{
        &-title{
            & br{
                @media #{$lg,$md,$xs} {
                    display: none;
                }
            }
            @media #{$xl} {
                font-size: 70px;
            }
        }
    }
    &-s3{
        &-shape{
            @media #{$xs} {
                display: none;
            }
        }
    }
}

.breadcrumb{
    &__content{
        & .breadcrumb__list{
            & span{
                margin-right: 5px;
                & svg{
                    @extend %svg-2;
                }
                & a{
                    &:hover{
                        color: #F50963;
                    }
                }
            }
        }
    }
}