@use '../utils' as *;

/*----------------------------------------*/
/*  2.6 Buttons
/*----------------------------------------*/

.tp-btn{
	&-green{
		font-size: 16px;
		font-weight: 700;
		line-height: 1;
		padding: 18px 24px;
		display: inline-block;
		text-transform: uppercase;
		color: var(--tp-common-black);
		font-family: var(--tp-ff-bricolage);
		background-color: var(--tp-theme-primary);
		&:hover{
			color: var(--tp-common-black);
			& span{
				& svg{
					animation: tfLeftToRight 0.5s forwards;
				}
			}
		}
		& span{
			& svg{
				overflow: hidden;
			}
		}
		&.btn{
			&-white-bg{
				color: var(--tp-common-black);
				background-color: var(--tp-grey-1);
				font-family: var(--tp-ff-unbounded);
			}
			&-black-bg{
				color: var(--tp-grey-1);
				background-color: var(--tp-common-black);
			}
			&-h-60{
				padding: 20px 25px;
				font-family: var(--tp-ff-bricolage);
			}
		}
		&.input-hover{
			padding: 18px 27px;
			border: 1px solid transparent;
			&:hover{
				color: var(--tp-common-white);
				background-color: transparent;
				border-color: var(--tp-theme-primary);
			}
		}
		&.bdr-5{
			border-radius: 5px;
		}
		&.fw-700{
			font-weight: 700;
		}
		&.ff{
			&-bricolage{
				font-family: var(--tp-ff-bricolage);
			}
			&-space{
				font-family: var(--tp-ff-space);
			}
		}
		&.bg-none-style{
			background-color: transparent;
			border: 1px solid rgba($color: #010103, $alpha: 0.1);
		}
		&.br-8{
			border-radius: 8px;
			font-family: var(--tp-ff-popins);
		}
	}
	&-circle{
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 10px;
		height: 200px;
		width: 200px;
		font-weight: 600;
		font-size: 14px;
		line-height: 1;
		border-radius: 50%;
		overflow: hidden;
		display: inline-block;
		text-transform: uppercase;
		color: var(--tp-common-black);
		font-family: var(--tp-ff-unbounded);
		border: 1px solid rgba(1, 1, 3, 0.1);
		&:hover{
			color: var(--tp-common-white);
			& .tp-btn-circle-dot {
				width: 420px;
				height: 420px;
			}
		}
		& span{
			display: block;
			margin-bottom: 11px;
		}
		& .tp-btn-circle-dot{
            position: absolute;
            bottom: 0;
            left: 32px;
            width: 20px;
            height: 20px;
            width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 50%;
            @include tp-transition(all ,0.6s);
            background-color: var(--tp-common-black);
            @include tp-transform(translate(-50%, -50%));
            z-index: -1;
        }
		&.shadow-circle{
			&:hover{
				color: var(--tp-common-black);
				&::before{
					left: 0;
				}
			}
			&::before{
				position: absolute;
				content: '';
				height: 100%;
				width: 100%;
				top: 0;
				z-index: -1;
				left: -50px;
				border-radius: 50%;
				transition: .3s ease-in-out;
				background-color: var(--tp-common-white);
			}
		}
	}
	&-border{
		font-weight: 600;
		font-size: 12px;
		line-height: 1;
		padding: 14px 24px;
		padding-top: 20px;
		border-radius: 50px;
		display: inline-block;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: var(--tp-common-black);
		font-family: var(--tp-ff-unbounded);
		border: 1px solid rgba(1, 1, 3, 0.1);
		& span{
			& svg{
				margin-left: 4px;
				transform: translateY(1px);
			}
		}
		&.btn-h-60{
			border-radius: 0;
			padding: 23px 24px;
		}
		&.radius-btn{
			border-radius: 8px;
			padding-bottom: 17px;
			padding: 21px 24px 22px;
			border: 1px solid rgba(1, 1, 3, 0.1);
		}
	}
	&-radius{
		gap: 10px;
		font-size: 16px;
		font-weight: 600;
		padding: 10px 23px;
		padding-right: 8px;
		border-radius: 60px;
		display: inline-block;
		color: var(--tp-common-black);
		background-color: var(--tp-common-white);
		&:hover{
			color: var(--tp-common-black);
			& span{
				& span{
					&.text-1{
						-webkit-transform: translateY(-150%);
						transform: translateY(-150%);
					}
					&.text-2{
						top: 50%;
						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}
			& i{
				& svg:first-child{
					transform: translate(16px, -16px);
				}
				& svg:last-child{
					opacity: 1;
					visibility: visible;
					transform: translate(13px, -13px);
				}
			}
		}
		& span {
			z-index: 1;
			overflow: hidden;
			position: relative;
			display: inline-block;
			&.text{
				&-1 {
					display: block;
					position: relative;
					transition: 0.3s;
					transform: translateY(1px);
				}
				&-2{
					top: 100%;
					display: block;
					transition: 0.3s;
					position: absolute;
					transform: translateY(-1px);
				}
			}
		}
		& i {
			height: 40px;
			width: 40px;
			line-height: 42px;
			border-radius: 50%;
			margin-left: 2px;
			text-align: center;
			display: inline-block;
			background-color: var(--tp-common-brown);
			& span {
				position: relative;
				overflow: hidden;
				width: 14px;
				height: 14px;
				display: inline-flex;
			}
			& svg {
				transform: translateY(-2px);
				position: absolute;
				bottom: -1px;
				left: 1px;
				transition: all 0.2s ease-out;
				&:last-child {
					left: -12px;
					bottom: -12px;
					transform: translate(0, 0);
					opacity: 0;
				}
			}
		}
	}
	&-anim {
		gap: 10px;
		align-items: start;
		display: inline-flex;
		justify-content: center;
		&:hover {
			& .btn-anim__letter {
				transform: translateY(-100%);
				-webkit-transform: translateY(-100%);
				-moz-transform: translateY(-100%);
				-ms-transform: translateY(-100%);
			}
		}

		.tp-btn-text {
			height: 20px;
			line-height: 20px;
			overflow: hidden;
			display: block !important;

			.btn-anim__letter {
				margin-right: 1px;
				display: inline-block;
				transition: transform 0.5s cubic-bezier(0.76, 0, 0.024, 1);
				-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.024, 1);
				-moz-transition: -moz-transform 0.5s cubic-bezier(0.76, 0, 0.024, 1);

				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						transition-delay: #{($i - 1) * 30}ms;
						-webkit-transition-delay: #{($i - 1) * 30}ms;
						-moz-transition-delay: #{($i - 1) * 30}ms;
					}
				}
			}
		}
	}
}

.tp-doubble-effect{
	display: inline-flex;
	align-items: center;
	& i{
		position: relative;
		overflow: hidden;
		width: 14px;
		height: 14px;
		display: inline-flex;
		& svg{
			transform: translateY(-2px);
			position: absolute;
			bottom: -1px;
			left: 1px;
			transition: all 0.2s ease-out;
			&:last-child{
				left: -12px;
				bottom: -12px;
				transform: translate(0, 0);
				opacity: 0;
			}
		}
	}
	&:hover{
		& i{
			& svg:first-child{
				transform: translate(16px, -16px);
			}
			& svg:last-child{
				opacity: 1;
				visibility: visible;
				transform: translate(13px, -13px);
			}
		}
		& > span{
			&::after{
				transform: translate(1rem);
			}
			&::before{
				transform: translate(calc(100% + 1rem));
			}
		}
	}
	& > span{
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			bottom: -2px;
			width: 100%;
			height: 1px;
			background-color: currentColor;
			transition: transform 0.5s cubic-bezier(0.59, 0.23, 0.22, 0.96);
		}
		&::before{
			left: 0;
		}
		&::after{
			left: calc(-1 * 1rem);
			transform: translate(-100%);
		}
	}
}
.tp-line-lr{
	position: relative;
	&::after{
		position: absolute;
		content: "";
		bottom: 3px;
		right: 0;
		height: 1px;
		width: 0;
		transition: 0.5s;
		background-color: currentColor;
	}
	&:hover{
		&::after{
			right: auto;
			left: 0;
			width: 100%;
		}
	}
}