@use '../utils' as *;

/*----------------------------------------*/
/*  2.12 Section Title
/*----------------------------------------*/


.tp-section{
    &-subtitle{
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        display: inline-block;
        text-transform: uppercase;
        color: var(--tp-common-black);
        font-family: var(--tp-ff-bricolage);
        &.st-border{
            padding: 12px 25px;
            border-radius: 20px;
            border: 1px solid rgba(1, 1, 3, 0.10);
            &.white-style{
                color: var(--tp-common-white);
                border-color: rgba(245, 247, 245, 0.1);
            }
        }
        &.st-dot{
            position: relative;
            &::before{
                content: '';
                height: 6px;
                width: 6px;
                margin-right: 10px;
                border-radius: 50%;
                display: inline-block;
                transform: translateY(-2px);
                background-color: var(--tp-common-black);
            }
            &.white-style{
                &::before{
                    background-color: var(--tp-common-white);
                }
            }
        }
        &.st-unbounded{
            font-weight: 600;
            font-family: var(--tp-ff-unbounded);
            &.fs-13{
                font-size: 13px;
            }
        }
        &.fs{
            &-16{
                font-size: 16px;
            }
        }
        &.st-spacegro{
            font-family: var(--tp-ff-space);
            text-transform: uppercase;
        }
        &.border-line{
            &::after{
                content: '';
                width: 60px;
                height: 1px;
                margin-left: 10px;
                display: inline-block;
                transform: translateY(-3px);
                background-color: var(--tp-common-black);
            }
            &::before{
                content: '';
                width: 60px;
                height: 1px;
                margin-right: 10px;
                display: inline-block;
                transform: translateY(-3px);
                background-color: var(--tp-common-black);
            }
        }
    }
}

.lw-section{
    &-subtitle{
        font-weight: 500;
        font-size: 20px;
        line-height: 1;
        display: inline-block;
        letter-spacing: -0.03em;
        text-transform: capitalize;
        color: var(--tp-common-white);
        font-family: var(--tp-ff-playfair);
        & i{
            height: 50px;
            width: 50px;
            margin-right: 15px;
            border-radius: 50%;
            display: inline-grid;
            place-content: center;
            text-align: center;
            display: inline-block;
            background-color: rgba($color: #fff, $alpha: 0.05);
        }
    }
}

.tp-section{
    &-title{
        font-size: 62px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: -0.04em;
        color: var(--tp-common-black);
        font-family: var(--tp-ff-bricolage);
        @media #{$x3l,$xxl} {
            font-size: 60px;
        }
        @media #{$xl} {
            font-size: 55px;
        }
        @media #{$lg,$md} {
            font-size: 50px;
        }
        @media #{$xs} {
            font-size: 36px;
        }
        &.tl-unbounded{
            font-weight: 700;
            font-family: var(--tp-ff-unbounded);
            & br{
                @media #{$lg,$md,$xs} {
                    display: none;
                }
            }
            &.fw{
                &-500{
                    font-weight: 500;
                }
                &-600{
                    font-weight: 600;
                }
            }
            &.fs{
                &-42{
                    font-size: 42px;
                    line-height: 1.2;
                    letter-spacing: -0.84px;
                    @media #{$xxl,$xl,$xs} {
                        font-size: 36px;
                    }
                    & span{
                        color: rgba(1, 1, 3, 0.2);
                    }
                    &.tt-capitalize{
                        & br{
                            @media #{$xs} {
                                display: none;
                            }
                        }
                    }
                }
                &-52{
                    font-size: 52px;
                    letter-spacing: -1.04px;
                    text-transform: uppercase;
                    @media #{$xl,$lg,$md} {
                        font-size: 42px;
                    }
                    @media #{$xs} {
                        font-size: 38px;
                    }
                }
            }
        }
        &.tl-spacegro{
            font-family: var(--tp-ff-space);
            & .hr-title-shape{
                position: absolute;
                bottom: -2px;
                right: 45px;
                z-index: -1;
                @media #{$xs} {
                    display: none;
                }
            }
            & .clr{
                color: var(--tp-theme-primary);
            }
        }
        &.text-case-int{
            text-transform: initial;
            @media #{$x3l} {
                font-size: 52px;
            }
            @media #{$xxl,$xl} {
                font-size: 45px;
            }
        }
        &.title-playfair{
            font-weight: 500;
            font-size: 42px;
            line-height: 1.2;
            letter-spacing: -0.03em;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-playfair);
            @media #{$xs} {
                font-size: 38px;
            }
            & span{
                color: #DFAE4F;
                font-style: italic;
            }
            & br{
                @media #{$md,$xs} {
                    display: none;
                }
            }
        }
        &.fs{
            &-150{
                font-size: 150px;
                letter-spacing: -4.5px;
                @media #{$xl,$lg,$md} {
                    font-size: 120px;
                }
                @media #{$xs} {
                    font-size: 80px;
                }
            }
            &-140{
                font-size: 140px;
                @media #{$xl} {
                    font-size: 100px;
                }
                @media #{$lg} {
                    font-size: 90px;
                }
                @media #{$md} {
                    font-size: 80px;
                }
                @media #{$xs} {
                    font-size: 40px;
                }
            }
            &-120{
                font-size: 120px;
                @media #{$xl} {
                    font-size: 100px;
                }
                @media #{$lg} {
                    font-size: 82px;
                }
                @media #{$md} {
                    font-size: 50px;
                }
                @media #{$xs} {
                    font-size: 56px;
                }
            }
            &-72{
                font-size: 72px;
                @media #{$xxl} {
                    font-size: 65px;
                }
                @media #{$xl,$lg,$md} {
                    font-size: 50px;
                }
                @media #{$xs} {
                    font-size: 42px;
                }
            }
            &-60{
                font-size: 60px;
                @media #{$xl,$lg,$md} {
                    font-size: 52px;
                }
                @media #{$xs} {
                    font-size: 46px;
                    margin-bottom: 40px;
                }
                & br{
                    @media #{$xl,$lg,$md,$xs} {
                     display: none;   
                    }
                }
            }
            &-52{
                font-size: 52px;
                @media #{$xs} {
                    font-size: 48px;
                }
            }
        }
        &.fw{
            &-700{
                font-weight: 700;
            }
        }
    }
}

.title-white{
    color: var(--tp-common-white);
}