@use '../../utils' as *;
/*----------------------------------------*/
/*  5.4 Sidebar css
/*----------------------------------------*/

.sidebar{
    &-search{
        position: relative;
        & input{
            width: 100%;
            height: 60px;
            padding: 0 22px;
            font-weight: 500;
            font-size: 18px;
            line-height: 60px;
            padding-right: 60px;
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: var(--tp-common-black);
            @include tp-placeholder{
                font-weight: 500;
                font-size: 18px;
                line-height: 1;
                color: rgba(0, 0, 0, 0.6);
            }
        }
        & button{
            position: absolute;
            top: 0;
            right: 25px;
            height: 100%;
            line-height: 60px;
            color: var(--tp-common-black);
            &:hover{
                color: var(--tp-common-black);
            }
        }

    }
    &-widget{
        &-author{
            padding: 60px 40px 55px 40px;
            &-img{
                margin-bottom: 15px;
                & img{
                    height: 120px;
                    width: 120px;
                    border-radius: 50%;
                }
            }
            &-name{
                font-weight: 600;
                font-size: 22px;
                letter-spacing: -0.02em;
                color: var(--tp-common-black);
                font-family: var(--tp-ff-popins);
                margin-bottom: 0;
            }
            &-content{
                & span{
                    font-size: 15px;
                    line-height: 1;
                    margin-bottom: 20px;
                    display: inline-block;
                    color: var(--tp-common-black);
                }
                & p{
                    font-size: 16px;
                    line-height: 1.5;
                    margin-bottom: 27px;
                    color: rgba(0, 0, 0, 0.7);
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    padding-top: 20px;
                    margin-top: 8px;
                    @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                        & br{
                            display: none;
                        }
                    }
                }
            }
            &-social{
                display: flex;
                gap: 13px;
                justify-content: center;
                & a{
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: var(--tp-common-black);
                }
            }
        }
        &-title{
            line-height: 1;
            margin-bottom: 35px;
            font-weight: 600;
            font-size: 22px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-popins);
        }
        &-category{
            & ul{
                & li{
                    list-style-type: none;
                    display: block;
                    &:not(:last-child){
                        margin-bottom: 23px;
                    }
                    & a{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1;
                        display: inline-block;
                        letter-spacing: -0.01em;
                        color: var(--tp-common-black);
                        &:hover{
                            color: rgba(0, 0, 0, 0.7);
                        }
                    }
                }
            }
        }
        &-main{
            padding: 40px 40px 40px 40px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            @media #{$xs}{
                padding: 20px 20px 20px 20px;
            }
            & .sidebar-widget {
                &:not(:last-of-type){
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
    &-wrapper{
        padding-left: 25px;
        @media #{$xl,$lg}{
            padding-left: 0;
        }
        @media #{$md,$xs}{
            padding-left: 0;
            margin-top: 70px;
        }
    }
    &-blog-grid-wrap{
        & .sidebar-wrapper {
            padding-left: 2px;
          }
    }
}


.tagcloud{
    & a{
        border-radius: 14px;
        padding: 10px 18px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        text-align: center;
        margin-bottom: 10px;
        background: #f2f2f2;
        display: inline-block;
        text-transform: capitalize;
        color: var(--tp-common-black);
        @media #{$lg}{
            padding: 10px 14px;
            font-size: 13px;
        }
        @media #{$xs}{
            padding: 10px 14px;  
        }
        &:not(:last-child){
            margin-right: 5px;
        }
        &:hover{
            color: var(--tp-common-black);
            background-color: #D0FF71;
        }
    }
}