@use '../../utils' as *;

/*----------------------------------------*/
/*  7.4 Banner Css
/*----------------------------------------*/

.sa-banner{
    &-wrapper{
        height: 950px;
        overflow: hidden;
        @media #{$xxl} {
            height: 700px;
        }
        @media #{$xl} {
            height: 530px;
        }
        @media #{$lg} {
            height: 430px;
        }
        @media #{$md,$xs} {
            height: 300px;
        }
    }
}

.bnc-banner{
    &-bg{
        &::after{
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            z-index: -1;
            height: 100%;
            width: calc(100% - 680px);
            background-color: #063232;
            @media #{$x3l} {
                width: calc(100% - 495px);
            }
            @media #{$xxl} {
                width: calc(100% - 430px);
            }
            @media #{$xl,$lg,$md,$xs} {
                width: 100%;
            }
        }
    }
    &-thumb{
        overflow: hidden;
        & img{
            width: 100%;
            height: 985px;
            object-fit: cover;
            @media #{$xl} {
                height: 700px;
            }
            @media #{$lg} {
                height: 545px;
            }
            @media #{$md} {
                height: 350px;
            }
            @media #{$xs} {
                height: 250px;
            }
        }
    }
    &-item{
        padding: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--tp-theme-primary);
        @media #{$md,$xs} {
            margin-bottom: 40px;
        }
        @media #{$xl,$lg} {
            padding: 30px;
        }
        &-title{
            font-size: 72px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 120px;
            text-transform: capitalize;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-bricolage);
            @media #{$xl,$lg,$xs} {
                font-size: 60px;
                margin-bottom: 85px;
            }
        }
        &-content{
            & p{
                margin: 0;
                font-size: 32px;
                font-weight: 700;
                line-height: 1.24;
                text-transform: capitalize;
                color: var(--tp-common-black);
                font-family: var(--tp-ff-bricolage);
                @media #{$xl,$lg,$xs} {
                    font-size: 24px;
                }
            }
        }
        &-btn{
            position: absolute;
            right: 42px;
            bottom: 60px;
            @media #{$lg} {
                right: 20px;
                bottom: 30px;
            }
            & span{
                display: grid;
                height: 60px;
                width: 60px;
                text-align: center;
                border-radius: 50%;
                place-content: center;
                @include tp-transition();
                color: var(--tp-common-black);
                background-color: var(--tp-common-white);
                &:hover{
                    background-color: #063232;
                    color: var(--tp-common-white);
                }
            }
        }
    }
    &-bottom{
        &-box{
            margin-top: -200px;
            @media #{$xl,$lg} {
                margin-top: 40px;
                padding-bottom: 40px;
            }
            @media #{$md,$xs} {
                margin-top: 0;
            }
        }
        &-wrapper{
            padding-left: 40px;
            @media #{$xl,$lg,$md,$xs} {
                padding-left: 0;
                flex-wrap: wrap;
            }
        }
    }
    &-b-title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 18px;
        letter-spacing: -0.54px;
        text-transform: capitalize;
        font-family: var(--tp-ff-p);
        color: var(--tp-common-white-solid);
    }
    &-input{
        @media #{$xl,$lg,$md,$xs} {
            margin-bottom: 35px;
        }
        &-box{
            & input{
                height: 50px;
                width: 100%;
                font-size: 14px;
                border-radius: 5px;
                padding-right: 80px;
                color: var(--tp-common-white);
                background-color: transparent;
                border: 1px solid rgba($color: #F5F7F5, $alpha: 0.1);
                @include tp-placeholder{
                    font-size: 14px;
                    color: rgba($color: #F5F7F5, $alpha: 0.8);
                }
                &:focus{
                    border-color: var(--tp-common-white);
                }
            }
            & button{
                position: absolute;
                top: 12px;
                right: 20px;
                padding-left: 20px;
                border-left: 1px solid rgba($color: #F5F7F5, $alpha: 0.1);
            }
        }
    }
    &-review{
        @media #{$xl,$lg,$md,$xs} {
            margin-bottom: 20px;
        }
        & .tp-testimonial-review{
            &-item{
                width: 100%;
                height: 50px;
                padding: 0px 10px;
                border-radius: 8px;
            }
            &-icon{
                margin-right: 6px;
                transform: scale(.7);
            }
            &-content{
                & span{
                    font-size: 14px;
                }
                & p{
                    font-size: 10px;
                }
            }
        }
    }
    &-success{
        &-icon{
            margin-right: 10px;
        }
        &-content{
            & h4{
                font-size: 30px;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 5px;
                font-family: var(--tp-ff-p);
                text-transform: capitalize;
                color: var(--tp-common-white-solid);
            }
            & p{
                font-size: 14px;
                margin-bottom: 0;
                color: rgba(255, 255, 255, 0.60);
                text-transform: capitalize;
            }
        }
    }
}

.lw-banner{
    &-wrapper{
        height: 900px;
        padding: 0px 40px;
        @media #{$xxl} {
            height: 700px;
        }
        @media #{$xl} {
            height: 530px;
        }
        @media #{$lg} {
            height: 430px;
        }
        @media #{$md} {
            height: 300px;
        }
        @media #{$xs} {
            padding: 0;
            height: 200px;
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}