@use '../../utils' as *;
/*----------------------------------------*/
/*  7.5 brand css
/*----------------------------------------*/


.ds-brand{
    &-wrapper{
        & .slide-transtion {
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
        }
        & .dgm-brand-active-2{
            & .swiper-wrapper{
                & .swiper-slide{
                    margin: 0 -1px;
                }
            }
        }
    }
    &-item{
        & img{
            width: 100%;
        }
    }
}

.dgm-brand{
    &-ptb{
        @media #{$lg} {
            padding-bottom: 100px;
        }
        @media #{$xs} {
            padding-bottom: 80px;
        }
    }
    &-item {
        height: 88px;
        line-height: 88px;
        text-align: center;
        border: 1px solid rgba($color: #010103, $alpha: 0.08);
    }
}

.cr-brand{
    &-style{
        @media #{$xs} {
            padding-top: 80px;
        }
        & .dgm-brand-item {
            border: 0;
        }
    }
}

.cr-choose{
    &-thumb{
        &-wrapper{
            top: 0;
            left: 0;
            width: 44%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            @media #{$lg,$md,$xs} {
                position: static;
                width: 100%;
            }
            & .bnc-choose-thumb{
                height: 100%;
                @media #{$lg,$md,$xs} {
                    height: 500px;
                    margin-bottom: 50px;
                }
                & img{
                    height: 100%;
                    object-fit: cover;
                    @media #{$lg,$md,$xs} {
                        width: 100%;
                    }
                }
            }
        }
    }
    &-title{
        &-box{
            margin-bottom: 50px;
            padding-bottom: 45px;
            border-bottom: 1px solid rgba($color: #010103, $alpha: 0.1);
            @media #{$xs} {
                margin-bottom: 40px;
                padding-bottom: 35px;
            }
            & .tp-section-title.fs-60{
                & br{
                    @media #{$xxl} {
                        display: none;
                    }
                }
            }
        }
    }
    &-wrapper{
        @media #{$md,$xs} {
            padding-left: 0;
            padding-bottom: 30px;
        }
    }
    &-review{
        &-content{
            & span{
                font-size: 30px;
                font-weight: 700;
                display: inline-block;
                text-transform: capitalize;
                color: var(--tp-common-black);
                font-family: var(--tp-ff-space);
                & i{
                    font-style: normal;
                }
            }
            & p{
                font-size: 16px;
                color: #717171;
                text-transform: capitalize;
            }
        }
        &-shape{
            @media #{$xs} {
                display: none;
            }
            & img{
                animation: rotate2 3s linear infinite;
            }
        }
        &-thumb{
            margin-right: 20px;
        }
    }
    &-list{
        &-title{
            position: relative;
            display: flex;
            font-size: 24px;
            font-weight: 700;
            padding-left: 66px;
            margin-bottom: 50px;
            line-height: 1.2;
            text-transform: capitalize;
            font-family: var(--tp-ff-space);
            color: var(--tp-common-black-solid);
            @media #{$xl,$xs} {
                font-size: 20px;
            }
            & i{
                position: absolute;
                top: 5px;
                left: 0;
                display: grid;
                height: 42px;
                width: 42px;
                place-content: center;
                border-radius: 50%;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
        }
    }
    &-slider{
        &-wrapper{
            position: absolute;
            bottom: 0;
            z-index: 0;
            padding: 12px 0;
            background: #0B3535;
            & .slide-transtion {
                transition-timing-function: linear;
            }
            & .swiper-slide {
                width: auto;
            }
        }
        &-text{
            & p{
                font-size: 16px;
                color: #CACFCF;
                margin: 0;
                text-transform: capitalize;
                & span{
                    position: relative;
                    font-size: 22px;
                    font-weight: 500;
                    padding-right: 10px;
                    text-transform: capitalize;
                    font-family: var(--tp-ff-space);
                    color: var(--tp-common-white-solid);
                    &::after{
                        content: "";
                        height: 1px;
                        width: 32px;
                        margin-left: 10px;
                        display: inline-block;
                        background-color: var(--tp-theme-primary);
                        margin-bottom: 5px;
                    }
                }
                & a{
                    font-size: 14px;
                    font-weight: 700;
                    padding: 5px 16px;
                    border-radius: 4px;
                    margin-left: 10px;
                    display: inline-block ;
                    text-transform: uppercase;
                    color: var(--tp-common-black) ;
                    font-family: var(--tp-ff-space);
                    background-color: var(--tp-theme-primary);
                }
            }
        }
    }
}

.hr-brand{
    &-area{
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
    &-slider{
        &-wrap{
            & .swiper-slide{
                width: auto;
            }
        }
    }
    &-title{
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.6;
        padding-left: 15px;
        color: var(--tp-common-black);
        font-family: var(--tp-ff-popins);
        &::before{
            position: absolute;
            top: 3px;
            left: 0;
            content: "";
            height: 44px;
            width: 2px;
            display: inline-block;
            background-color: #0B3535;
        }
        &-box{
            @media #{$xxl,$xl} {
                padding-left: 100px;
            }
            @media #{$lg,$md,$xs} {
                padding-left: 30px;
                padding-bottom: 30px;
            }
        }
    }
}

.lw-brand{
    &-style{
        & .dgm-brand-item {
            border-radius: 8px;
            border: 1px solid rgba($color: #F5F7F5, $alpha: 0.1);
        }
        & .dgm-brand-item img {
            filter: invert(1);
        }
    }
}
.inner{
    &-brand{
        &-item{
            height: 347px;
            width: 100%;
            line-height: 347px;
            position: relative;
            text-align: center;
            @include tp-transition();
            border: 1px solid rgba(1, 1, 3, 0.1);
            &:hover{
                border-color: transparent;
                background-color: #f5f5f5;
            }
            @media #{$xl,$lg,$md,$sm,$xs} {
                height: 247px;
                line-height: 247px;
            }
        }
        &-count{
            font-family: var(--tp-ff-bricolage);
            font-weight: 500;
            font-size: 12px;
            line-height: 167%;
            text-transform: uppercase;
            color: var(--tp-common-black);
            position: absolute;
            top: 25px;
            left: 30px;
        }
    }
}