@use '../../utils' as *;

/*----------------------------------------*/
/*  7.21 contact css
/*----------------------------------------*/



.tp-contact-me{
    &-heading{
        & .tp-section-title{
            font-size: 90px;
            font-weight: 600;
            letter-spacing: -0.9px;
            font-family: var(--tp-ff-teko);
            color: var(--tp-common-white);
            @media #{$xs} {
                font-size: 65px;
            }
        }
    }
    &-wrap{
        gap: 30px;
        display: flex;
        & p{
            color: var(--tp-common-white);
            & br{
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
    &-subtitle{
        font-size: 14px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-family: var(--tp-ff-teko);
        &::after{
            content: '';
            height: 1px;
            width: 39px;
            margin-left: 10px;
            display: inline-block;
            transform: translateY(-4px);
            background-color: var(--tp-common-white);
        }
    }
    &-wrapper{
        padding: 50px;
        border: 1px solid rgba(245, 247, 245, 0.10);
        @media #{$xs} {
            padding: 30px;
        }
    }
    &-form{
        &-input{
            & input,
            & textarea{
                height: 70px;
                background: #282828d9;
                border-color: transparent;
                color: var(--tp-common-white);
                &::placeholder{
                    color: rgba(245, 247, 245, 0.60);
                }
                &:focus{
                    border-color: #FFF669;
                }
            }
            & textarea{
                resize: none;
                height: 160px;
            }
        }
        &-btn{
            & button{
                font-size: 16px;
                font-weight: 500;
                color: #010103;
                border-radius: 50px;
                display: inline-block;
                padding: 14px 31px 10px;
                text-transform: uppercase;
                background-color: #FFF669;
                border: 1px solid transparent;
                font-family: var(--tp-ff-teko);
                &:hover{
                    color: var(--tp-common-yellow);
                    background-color: transparent;
                    border-color: var(--tp-common-yellow);
                }
                & span{
                    @extend %svg-1;
                    margin-left: 5px;
                    display: inline-block;
                }
            }
        }
        &-category{
            &-title{
                font-size: 32px;
                line-height: 1;
                font-weight: 500;
                margin-bottom: 20px;
                letter-spacing: -0.32px;
                color: var(--tp-common-white);
                font-family: var(--tp-ff-teko);
            }
            &-list{
                & span{
                    margin-left: 0;
                    margin-bottom: 10px;
                    & label{
                        display: inline-block;
                        & input{
                            display: none;
                            &:checked~span {
                                background-color: #FFF669;
                                color: var(--tp-common-black);
                                border-color: #FFF669;
                            }
                        }
                        & span{
                            font-size: 16px;
                            font-weight: 500;
                            cursor: pointer;
                            margin-right: 7px;
                            padding: 11px 31px;
                            border-radius: 50px;
                            display: inline-block;
                            @include tp-transition();
                            margin-left: 0px !important;
                            color: var(--tp-common-white);
                            border: 1px solid rgba($color: #F5F7F5, $alpha: 0.1);
                            &:hover{
                                border-color: #FFF669;
                                background-color: #FFF669;
                                color: var(--tp-common-black);
                            }
                        }
                    }
                }
                &.plr{
                    & span{
                        & label{
                            & span{
                                padding: 10px 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tp-contact-us{
    &-ptb{
        @media #{$lg,$md,$xs} {
            padding-bottom: 100px;
        }
    }
    &-top{
        &-ptb{
            @media #{$lg,$md} {
                margin-bottom: 60px;
            }
        }
    }
    &-shape{
        @media #{$md,$xs} {
            display: none;
        }
    }
    &-heading{
        gap: 180px;
        display: flex;
        position: relative;
        margin-right: -260px;
        flex-direction: column;
        justify-content: space-between;
        @media #{$lg,$md} {
            gap: 40px;
            margin-right: 0;
        }
        @media #{$md,$xs} {
            gap: 15px;
            margin-right: 0;
            margin-bottom: 50px;
        }
        & p{
            & br{
                @media #{$lg,$md,$xs} {
                    display: none;
                }
            }
        }
    }
    &-title{
        font-size: 105px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -6px;
        color: var(--tp-common-black);
        font-family: var(--tp-ff-unbounded);
        & br{
            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }
        @media #{$xxl,$xl} {
            font-size: 100px;
        }
        @media #{$lg,$md} {
            font-size: 60px;
            letter-spacing: 0;
        }
        @media #{$xs} {
            font-size: 50px;
            letter-spacing: 0;
        }
    }
    &-map{
        width: 100%;
        height: 635px;
        & iframe{
            width: 100%;
            height: 100%;
        }
    }
    &-info{
        right: 32px;
        bottom: -80px;
        position: absolute;
        @media #{$xs} {
            margin-top: 40px;
            position: static;
        }
    }
    &-form{
        &-border{
            padding: 120px 190px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            @media #{$xl} {
                padding: 100px;
            }
            @media #{$lg} {
                padding: 50px;
            }
            @media #{$md,$xs} {
                padding: 40px;
            }
        }
        &-subtitle{
            font-size: 10px;
            font-weight: 600;
            padding: 2px 25px;
            border-radius: 20px;
            position: relative;
            display: inline-block;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-unbounded);
            border: 1px solid rgba(1, 1, 3, 0.10);
            &::before{
                content: '';
                height: 6px;
                width: 6px;
                margin-right: 5px;
                border-radius: 50%;
                display: inline-block;
                transform: translateY(-1px);
                background-color: var(--tp-common-black);
            }
        }
        &-title{
            font-size: 32px;
            font-weight: 600;
            letter-spacing: -1.28px;
            color: var(--tp-common-black);
        }
        &-input{
            & label{
                font-size: 14px;
                font-weight: 500;
                color: #030303;
                margin-bottom: 10px;
            }
            & input,
            & textarea{
                color: var(--tp-common-black);
                &:focus{
                    background-color: transparent;
                }
                &::placeholder{
                    color: #999;
                }
            }
            & textarea{
                resize: none;
                height: 180px;
            }
        }
    }
}

.cn-contact{
    &-info-thumb{
        overflow: hidden;
        margin-right: 140px;
        @media #{$xl}{
            margin-right: 50px;
        }
        @media #{$md}{
            margin-right: 50px;
            margin-bottom: 20px;
        }
        @media #{$xs}{
            margin-right: 0px;
            margin-bottom: 30px;
        }
        @media #{$sm}{
            margin-right: 20px;
            margin-bottom: 30px;
        }
        & img{
            width: 320px;
            transition: all .9s ease-in-out;
        }
    }
    &-info-item{
        padding: 50px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        &:hover{
            & .cn-contact-info-thumb{
                & img{
                    transform: scale(1.2);
                }
            }
        }
    }
    &-left{
        @media #{$lg,$md}{
            margin-bottom: 50px;
        }
        &-title{
            font-size: 35px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 160px;
            color: var(--tp-common-black);
            @media #{$xl}{
                font-size: 30px;
            }
            @media #{$md} {
                margin-bottom: 50px;
            }
            @media #{$xs}{
                margin-bottom: 10px;
            }
        }
        &-info{
            @media #{$xs}{
                margin-bottom: 30px;
            }
            & span{
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                text-transform: uppercase;
                color: var(--tp-common-black);
                & i{
                    padding-right: 5px;
                }
            }
        }
    }
    &-location{
        margin-bottom: 115px;
        @media #{$md,$xs}{
            margin-bottom: 50px;
        }
        &-title{
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            display: block;
            margin-bottom: 15px;
            color: var(--tp-common-black);
        }
        & a{
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: var(--tp-common-black);
            @media #{$xl}{
                font-size: 16px;
            }
        }
    }
    &-map{
        & a{
            font-size: 20px;
            font-weight: 500;
            position: relative;
            color: var(--tp-common-black);
            &:hover{
                &::before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }
            &::before {
                bottom: 0;
                right: 0;
                height: 1px;
                width: 0;
                content: "";
                transition: 0.4s;
                position: absolute;
                background: var(--tp-common-black);
            }
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                content: "";
                background: rgba($color: #010103, $alpha: 0.3);
            }
        }
    }
    &-right{
        padding-left: 20px;
        @media #{$xl,$lg,$md,$xs}{
            padding-left: 0;
        }
        @media #{$xs} {
            margin-bottom: 20px;
        }
        &-wrap{
            @media #{$xs}{
                flex-wrap: wrap;
            }
        }
        &-info{
            & a{
                font-size: 20px;
                font-weight: 500;
                line-height: 1;
                margin-bottom: 40px;
                position: relative;
                display: inline-block;
                color: var(--tp-common-black);
                @media #{$xl}{
                    font-size: 18px;
                }
                @media #{$xs}{
                    margin-bottom: 15px;
                }
                &:hover{
                    &::before {
                        right: auto;
                        left: 0;
                        width: 100%;
                    }
                }
                &::before {
                    bottom: 0;
                    right: 0;
                    height: 1px;
                    width: 0;
                    content: "";
                    transition: 0.4s;
                    position: absolute;
                    background: var(--tp-common-black);
                }
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    width: 100%;
                    content: "";
                    background: rgba($color: #010103, $alpha: 0.3);
                }
            }
        }
    }
}