@use '../../utils' as *;

/*----------------------------------------*/
/*  7.7 faq Css
/*----------------------------------------*/

.tp-faq{
    &-ptb{
        @media #{$lg,$md} {
            padding-bottom: 100px;
        }
        @media #{$xs} {
            padding-bottom: 80px;
        }
    }
}

.sa-faq{
    &-wrapper{
        & .tp-faq-accordion-wrap{
            & .accordion-items{
                border-color: rgba(255, 255, 255, 0.10);
            }
            & .accordion-buttons{
                font-weight: 500;
                padding-bottom: 20px;
                letter-spacing: -0.6px;
                color: var(--tp-common-white);
                font-family: var(--tp-ff-unbounded);
                @media #{$xs} {
                    font-size: 18px;
                }
                &:not(.collapsed) {
                    color: var(--tp-theme-primary);
                    & .tp-accordion-icon {
                        & svg{
                            color: var(--tp-theme-primary);
                        }
                    }
                }
            }
            & .accordion-body {
                & p{
                    font-size: 16px;
                    color: #CECECE;
                    padding-bottom: 40px;
                    & br{
                        @media #{$lg,$md,$xs} {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-title-box{
        margin-bottom: 130px;
        @media #{$xl,$lg} {
            margin-bottom: 100px;
        }
        @media #{$md,$xs} {
            margin-bottom: 70px;
        }
    }
    &-subtitle{
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        text-transform: uppercase;
        transform: translateY(10px);
        color: var(--tp-common-white);
        @media #{$md,$xs} {
            transform: translateY(0);
        }
        & svg{
            margin-left: 10px;
        }
    }
    &-title{
        margin: 0;
        font-size: 440px;
        font-weight: 600;
        line-height: .7;
        text-transform: capitalize;
        color: rgba(245, 247, 245, 0.10);
        font-family: var(--tp-ff-unbounded);
        @media #{$xxl} {
            font-size: 400px;
        }
        @media #{$xl} {
            font-size: 340px;
        }
        @media #{$lg} {
            font-size: 270px;
        }
        @media #{$md} {
            font-size: 200px;
        }
        @media #{$xs} {
            font-size: 100px;
        }
        @media #{$sm} {
            font-size: 160px;
        }
    }
}

.cr-faq{
    &-style{
        & .tp-faq-accordion-wrap {
            & .accordion-buttons {
                font-size: 22px;
                line-height: 1.3;
                padding: 22px 30px;
                padding-right: 55px;
                font-family: var(--tp-ff-space);
            }
        }
        & .accordion-body p {
            font-size: 16px;
        }
    }
    &-thumb{
        position: relative;
        display: inline-block;
        @media #{$md,$xs} {
            width: 100%;
            margin-bottom: 50px;
        }
        & img{
            @media #{$md,$xs} {
                width: 100%;
            }
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: inline-block;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.56%, #063232 86.5%);
        }
    }
    &-tel{
        position: absolute;
        bottom: 32px;
        left: 32px;
        z-index: 2;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        color: var(--tp-common-white);
        & i{
            margin-right: 10px;
        }
    }
}

.bnc-faq{
    &-thumb{
        height: 100%;
        &-wrapper{
            top: 0;
            left: 0;
            width: 47%;
            height: 100%;
            overflow: hidden ;
            position: absolute;
            @media #{$xxl,$xl} {
                width: 48%;
            }
            @media #{$lg,$md,$xs} {
                width: 100%;
                height: 500px;
                position: static;
                margin-bottom: 40px;
            }

        }
        & .anim-zoomin-wrap{
            @media #{$xxl,$xl} {
                height: 100%;
            }
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        & .bnc-video-thumb-btn{
            @media #{$lg,$md,$xs} {
                top: 50%;
            }
        }
    }
    &-wrapper{
        & .tp-faq-accordion-wrap {
            & .accordion-items{
                border-radius: 8px;
            }
        }
    }
}

.lw-faq{
    &-style{
        &.tp-faq-accordion-wrap{
            & .accordion-buttons {
                padding: 30px 30px;
                padding-bottom: 36px;
                font-weight: 500;
                font-size: 24px;
                line-height: 1;
                text-transform: capitalize;
                color: var(--tp-common-white);
                font-family: var(--tp-ff-playfair);
            }
            & .accordion-items {
                border-radius: 8px;
                border: 1px solid rgba($color: #F5F7F5, $alpha: 0.1);
            }
            & .accordion-body {
                & p{
                    color: #c7d2d0;
                }
            }
            & .tp-accordion-icon {
                top: 45%;
                transform: translateY(-50%);
            }
        }
    }
}

.ma-faq{
    &-thumb{
            position: relative;
            display: flex;
            align-items: center;
            gap: 0;
            @media #{$lg,$md,$xs} {
                margin-bottom: 50px;
            }
            @media #{$xs} {
                flex-wrap: wrap;
            }
        & img{
            @media #{$xl} {
                transform: scale(.9);
            }
        }
        &-2{
            height: 360px;
            width: 190px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-top-right-radius: 190px;
            border-bottom-right-radius: 190px;;
            background-color: var(--tp-theme-primary);
            & span{
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                color: #010103;
                font-size: 20px;
                font-weight: 600;
                text-transform: capitalize;
                font-family: var(--tp-ff-unbounded);
            }
        }
        &-shape{
            position: absolute;
            bottom: 0;
            right: 12%;
            @media #{$xl} {
                right: 0;
            }
            @media #{$xs} {
                display: none;
            }
        }
    }
}

.inner-faq{
    &-style{
        & .tp-section-title{
            font-family: var(--tp-ff-unbounded);
            font-size: 32px;
            line-height: 131%;
            letter-spacing: -0.03em;
        }
    }
}