@use '../../utils' as *;

/*----------------------------------------*/
/*  7.8 funfact
/*----------------------------------------*/

.tp-funfact{
    &-ptb{
        @media #{$lg} {
            padding-bottom: 100px;
        }
        @media #{$md,$xs} {
            padding-bottom: 80px;
        }
    }
    &-wrap{
        @media #{$xl,$lg,$md,$xs} {
            flex-wrap: wrap;
        }
    }
    &-item{
        display: flex;
        place-content: center;
        text-align: center;
        height: 390px;
        width: 390px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #eee;
        margin: 0 -10px;
        margin-bottom: 40px;
        padding: 30px;
        & h4{
            font-weight: 600;
            font-size: 70px;
            line-height: 1.1;
            text-align: center;
            color: var(--tp-common-black); 
            font-family: var(--tp-ff-bricolage);
        }
        & > span{
            display: block;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.1;
            color: #525252;
            margin-bottom: 30px;
        }
        & i{
            color: var(--tp-common-black);
        }
    }
}

.dgm-funfact{
    &-ptb{
        @media #{$lg} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        @media #{$md,$xs} {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &-slider{
        &-wrap{
            @media #{$lg,$md,$xs} {
                margin-right: 0;
                margin-bottom: 20px;
            }
            & .dgm-portfolio-slider-item {
                & p {
                    font-size: 100px;
                    font-weight: 700;
                    font-weight: .7;
                    line-height: 1;
                    color: var(--tp-common-black);
                    @media #{$md,$xs} {
                        font-size: 60px;
                    }
                }
            }
        }
    }
    &-item{
        margin-top: -10px;
        &:not(:last-of-type){
            @media #{$xs} {
                margin-right: 10px;
            }
        }
        & h4{
            font-size: 100px;
            font-weight: 700;
            line-height: .8;
            margin-bottom: 0;
            color: transparent;
            text-transform: capitalize;
            font-family: var(--tp-ff-space);
            -webkit-text-stroke: 1px rgba(1, 1, 3, 0.3);
            @media #{$xl} {
                font-size: 85px;
            }
            @media #{$lg} {
                font-size: 80px;
            }
            @media #{$md} {
                font-size: 70px;
            }
            @media #{$xs} {
                font-size: 55px;
            }
            & em{
                font-style: normal;
            }  
        }
        & span{
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            text-transform: capitalize;
            color: var(--tp-common-black);
            @media #{$xs} {
                font-size: 13px;
            }
        }
    }
    &-wrap{
        margin-left: -40px;
        @media #{$lg,$md,$xs} {
            margin-left: 0;
        }
    }
    &-icon{
        & svg{
            animation: rotate2 5s linear infinite;
        }
    }
}

.cr-funfact{
    &-item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        @media #{$xs} {
            justify-content: start;
        }
        & i{
            margin-right: 30px;
            color: var(--tp-common-black);
        }
    }
    &-inner{
        & h4{
            font-size: 62px;
            line-height: 1;
            font-weight: 600;
            text-transform: capitalize;
            font-family: var(--tp-ff-space);
            @media #{$xl,$lg,$md,$xs} {
                font-size: 50px;
            }
        }
        & > span{
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--tp-common-black);
        }
    }
}

.bnc-funfact{
    &-ptb{
        @media #{$xl,$lg} {
            padding-top: 150px;
            padding-bottom: 120px;
        }
        @media #{$md,$xs} {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &-text{
        &-wrap{
            top: -25px;
            left: 50%;
            position: absolute;
            padding: 13px 35px;
            border-radius: 100px;
            display: inline-block;
            transform: translateX(-50%);
            border: 1px solid rgba(3, 3, 3, 0.10);
            background-color: var(--tp-common-white-solid);
            @media #{$md} {
                padding: 10px 35px;
            }
            @media #{$xs} {
                padding: 12px 17px;
            }
        }
        &-title{
            margin: 0;
            font-size: 18px;
            font-weight: 700;
            color: #030303;
            font-family: var(--tp-ff-bricolage);
            @media #{$md,$xs} {
                font-size: 16px;
            }
        }
    }
    &-wrapper{
        border-radius: 8px;
        padding: 64px 0 48px;
        border: 1px solid rgba(3, 3, 3, 0.10);
        @media #{$md,$xs} {
            padding-bottom: 0;
        }
        & .cr-funfact-item{
            text-align: center;
            @media #{$xs} {
                justify-content: center;
            }
        }
        & .row {
            & [class*="col-"]:not(:last-of-type){
                border-right: 1px solid rgba($color: #010103, $alpha: 0.1);
                @media #{$md,$xs} {
                    border: none;
                    margin-bottom: 30px;
                }
            }
        }
        & .cr-funfact-inner {
            & h4{
                font-weight: 700;
            }
            & > span{
                font-size: 14px;
                color: rgba($color: #010103, $alpha: 0.7);
            }
        }
    }
}


.ma-funfact{
    &-ptb{
        @media #{$lg} {
            padding-bottom: 100px;
        }
        @media #{$md,$xs} {
            padding-bottom: 80px;
        }
    }
    &-subtitle{
        flex: 0 0 auto;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
        margin-right: 50px;
        text-transform: capitalize;
        color: var(--tp-common-black);
        font-family: var(--tp-ff-unbounded);
        @media #{$xl,$md,$xs} {
            margin-bottom: 20px;
        }
        &::before{
            content: "";
            height: 7px;
            width: 7px;
            margin-right: 5px;
            border-radius: 50%;
            display: inline-block;
            transform: translateY(-2px);
            background-color: var(--tp-common-black);
        }
    }
    &-item{
        padding: 50px 30px;
        border: 1px solid rgba(206, 206, 206, 0.3);
        @media #{$xl,$md,$xs} {
            flex-wrap: wrap;
        }
    }
    &-content{
        & h4{
            font-size: 72px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 80px;
            text-transform: capitalize;
            font-family: var(--tp-ff-unbounded);
            @media #{$xxl} {
                font-size: 60px;
            }
            @media #{$xl} {
                font-size: 60px;
                margin-bottom: 40px;
            }
            @media #{$lg,$md,$xs} {
                font-size: 52px;
                margin-bottom: 20px;
            }
        }
        & p{
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
            color: #717171;  
            margin-bottom: 0;
            text-transform: capitalize;
        }
    }
}


.lw-funfact{
    &-wrap{
        border-radius: 8px;
        background-color: rgba($color: #fff, $alpha: 0.02);
        .row {
            [class*="col-"] {
                .lw-funfact-item {
                    border-bottom: 1px solid #2B3837;
                        
                    @media #{$xs} {
                        padding-left: 0;
                        border-left: 0;
                    }
                    @media #{$xs} {
                        border: none;
                    }
                }

                &:nth-child(even) .lw-funfact-item {
                    border-left: 1px solid #2B3837;
                    margin-left: -1px;
                    @media #{$xs} {
                        border: none;
                    }
                }

                &:nth-child(odd) .lw-funfact-item {
                    border-right: 1px solid #2B3837;
                    @media #{$xs} {
                        border: none;
                    }
                }

                &:nth-last-child(2),
                &:last-child {
                .lw-funfact-item {
                    border-bottom: 0;
                }
                }
            }
        }
    }
    &-left{
        &-wrap{
            padding-right: 80px;
            @media #{$xl} {
                padding-right: 50px;
            }
            @media #{$lg,$md,$xs} {
                padding-right: 0;
                margin-bottom: 40px;
            }
        }
    }
    &-item{
        padding: 80px 30px;
        @media #{$xs} {
            padding: 30px 0;
        }
        & h4{
            font-size: 82px;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 0;
            text-transform: capitalize;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-popins);
            @media #{$xs} {
                font-size: 65px;
            }
            & i{
                font-style: normal;
            }
        }
        & span{
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            text-transform: capitalize;
            color: rgba($color: #f5f7f5, $alpha: 0.6);
        }
    }
}