@use '../../utils' as *;
/*----------------------------------------*/
/*  7.10 instagram css
/*----------------------------------------*/

.cr-instagram{
    &-slider-wrap{
        margin-bottom: -2px;
    }
    &-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        height: 120px;
        width: 120px;
        opacity: 0;
        transition: .4s;
        border-radius: 50%;
        line-height: 120px;
        text-align: center;
        visibility: hidden;
        display: inline-block;
        transform: translate(-50%,-50%) scale(.8);
        background-color: var(--tp-theme-primary);
    }
    &-item{
        position: relative;
        & img{
            width: 100%;
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .3s;
            visibility: hidden;
            background: rgba(9, 53, 53, 0.3);
        }
        &:hover{
            & .cr-instagram-icon{
                opacity: 1;
                visibility: visible;
                transform: translate(-50%,-50%) scale(1);
            }
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }
        &.contact-me{
            & .cr-instagram-icon{
                height: 50px;
                width: 50px;
                line-height: 50px;
                border-radius: 5px;
                background-color: #FFF669;
            }
        }
    }
}