@use '../../utils' as *;

/*----------------------------------------*/
/*  10.2 Login Css
/*----------------------------------------*/


.tp-login{
    &-wrapper{
        padding: 50px 74px 70px;
        background-color: var(--tp-grey-1);
        @media #{$xs}{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &-title{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 4px;
        font-family: var(--tp-ff-p);
        
    }
    &-top{
        & p{
            font-size: 16px;
            font-weight: 400;
            color: #49535B;
            & a{
                position: relative;
                display: inline-block;
                color: var(--tp-common-black);

                &::after{
                    position: absolute;
                    content: '';
                    left: auto;
                    right: 0;
                    bottom: 4px;
                    width: 0%;
                    height: 1px;
                    background-color: var(--tp-common-black);
                    transition: .3s;
                }

                &:hover{
                    &::after{
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
    &-option{
        &-item{
            margin-bottom: 10px;
            &:not(:last-child){
                margin-right: 10px;
            }
            &.has-google{
                & a{
                    width: 220px;
                    & img{
                        margin-right: 7px;
                    }
                }
            }
            & a{
                font-size: 16px;
                color: #041226;
                width: 98px;
                height: 56px;
                text-align: center;
                line-height: 54px;
                display: inline-block;
                backdrop-filter: blur(10px);
                border: 1px solid rgba($color: #C6C6C6, $alpha: 0.4);
                
                & img{
                    @include tp-transform(translateY(-2px));

                    &.apple{
                        @include tp-transform(translateY(-3px));
                    }
                }

                &:hover{
                    border-color: rgb(53, 54, 55);
                }
            }
        }
    }
    &-mail{
        position: relative;
        z-index: 1;
        & p{
            font-size: 15px;
            margin-bottom: 0;
            padding: 0 20px;
            position: relative;
            display: inline-block;
            color: var(--tp-text-body);
            background-color: #f5f7f5;
            & a{
                position: relative;
                color: var(--tp-common-black);
                &::after {
                    position: absolute;
                    content: "";
                    left: auto;
                    right: 0;
                    bottom: 1px;
                    width: 0%;
                    height: 1px;
                    transition: 0.3s;
                    background-color: var(--tp-common-black);
                }
                &:hover{
                    color: var(--tp-common-black);
                    &::after {
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }
        }
        &::after{
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 12px;
            width: 100%;
            height: 1px;
            z-index: -1;
            transition: .3s;
            background-color: #C6C6C6;
        }
    }
    &-input{
        &-wrapper{
            margin-bottom: 20px;
        }
        &-box{
            position: relative;
            &:not(:last-child){
                margin-bottom: 15px;
            }
        }
        & input{
            font-size: 14px;
            border: 1px solid transparent;
            color: var(--tp-common-black);
            background-color: var(--tp-common-white-solid);
            &::placeholder{
                color: rgba($color: #000000, $alpha: 0.4);
            }
            &:focus{
                background-color: transparent;
            }
        }
        &-title{
            & label{
                font-size: 16px;
                padding: 0 5px;
                line-height: 1;
                font-weight: 500;
                margin-bottom: 10px;
                color: var(--tp-common-black);
            }
        }
        &-eye{
            position: absolute;
            right: 26px;
            top: 50%;
            @include tp-transform(translateY(-50%));

            & .open-eye{
                display: none;
            }

            & span{
                transition: .3s;
            }

            &:hover{
                cursor: pointer;

                & span{
                    color: var(--tp-common-black);
                }
            }
        }
    }
    &-remeber{
        & input{
            display: none;
            &:checked{
                & ~ label{
                    &::after{
                        border-color: #F50963;
                        background-color: #F50963;
                    }
                    &::before{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        & label{
            font-size: 15px;
            position: relative;
            padding-left: 26px;
            z-index: 1;
            color: var(--tp-common-black);
            
            &::after{
                position: absolute;
                content: '';
                top: 4px;
                left: 0;
                width: 18px;
                height: 18px;
                line-height: 16px;
                text-align: center;
                border: 1px solid #C3C7C9;
                z-index: -1;
                transition: .3s;
            }
            &::before{
                position: absolute;
                content: url("../img/shop/login/check.svg");
                top: 4px;
                left: 0;
                width: 18px;
                height: 18px;
                line-height: 16px;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                color: var(--tp-common-white);
                transition: .3s;
            }

            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
    &-forgot{
        & a{
            font-weight: 400;
            font-size: 15px;
            color: var(--tp-common-black);
            
            position: relative;
            display: inline-block;

            &::after{
                position: absolute;
                content: '';
                left: auto;
                right: 0;
                bottom: 4px;
                width: 0%;
                height: 1px;
                transition: .3s;
                background-color: var(--tp-common-black);
            }

            &:hover{
                &::after{
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }
        }
    }
    &-btn{
        font-size: 16px;
        font-weight: 500;
        padding: 14px 30px;
        text-align: center;
        display: inline-block;
        color: var(--tp-common-white);
        border: 1px solid transparent;
        background-color: var(--tp-common-black);

        &:hover{
            color: #fff;
            border-color: #F50963;
            background-color: #F50963;
        }
    }
}

.tp-error{
    &-title{
        font-weight: 700;
        font-size: 64px;
        margin-bottom: 50px;
        color: var(--tp-common-black);
    }
    &-title-sm{
        font-weight: 600;
        font-size: 26px;
        line-height: 1;
        text-transform: uppercase;
        color: var(--tp-common-black);
    }
    &-content{
        & p{
            font-weight: 400;
            font-size: 18px;
            color: #57575a;
            margin-bottom: 30px;
        }
        & .tp-btn{
            font-weight: 500;
            font-size: 18px;
            z-index: 9;
            overflow: hidden;
            position: relative;
            transition: all 0.3s;
            display: inline-block;
            letter-spacing: 0.03em;
            padding: 18px 18px 18px 24px;
            background-color: var(--tp-common-black);
            color: var(--tp-common-white);
            border: 2px solid transparent;
            &:hover{
                background-color: transparent;
                color: var(--tp-common-black);
                border-color: var(--tp-common-black);
            }
        }
    }
    &-wrapper{
        & img{
            margin-bottom: 55px;
        }
    }
}