@use '../../utils' as *;

/*----------------------------------------*/
/*  7.15 step Css
/*----------------------------------------*/

.dgm-step{
    &-ptb{
        @media #{$xl} {
            padding-bottom: 120px;
        }
        @media #{$lg,$md} {
            padding-bottom: 100px;
        }
        @media #{$xs} {
            padding-bottom: 80px;
        }
    }
    &-item{
        margin-left: -1px;
        padding: 60px 35px;
        padding-bottom: 40px;
        border: 1px solid #DDDEDD;
        @media #{$xl} {
            padding: 50px 26px;
        }
        @media #{$lg,$md,$xs} {
            margin-bottom: 30px;
        }
    }
    &-icon{
        display: inline-block;
    }
    &-content{
        & p{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            text-transform: capitalize;
        }
    }
    &-title{
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
        text-transform: capitalize;
        @media #{$xl,$lg,$md,$xs} {
            font-size: 20px;
        }
    }
    &-num{
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        font-style: normal;
        border-radius: 50px;
        padding: 11px 16px;
        display: inline-block;
        text-transform: capitalize;
        color: var(--tp-common-black);
        font-family: var(--tp-ff-unbounded);
        border: 1px solid rgba(1, 1, 3, 0.1);
        background-color: var(--tp-common-white-solid);
    }
    &-wrapper{
        & .row{
            [class*="col-"]{
                &:nth-child(2n){
                    & .dgm-step-item{
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
    &-btn{
        &-wrap{
            @media #{$lg,$md,$xs} {
                margin-top: 0;
                flex-wrap: wrap;
            }
            & .tp-btn-border{
                padding: 14px 24px 14px;
                &:hover{
                    color: var(--tp-common-black);
                    & span {
                        & svg {
                            animation: tfLeftToRight 0.5s forwards;
                        }
                    }
                }
                & span{
                    display: inline-block;
                    & svg{
                        margin-top: 2px;
                        transform: translateY(0px);
                    }
                }
            }
            & p{
                margin-bottom: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.6;
                color: #717171;
                margin-right: 15px;
                text-transform: capitalize;
                @media #{$xs} {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.bnc-step{
    &-wrapper{
        padding-top: 30px;
        margin-left: 70px;
        border-left: 1px solid rgba($color: #010103, $alpha: 0.1);
        @media #{$lg,$md,$xs} {
            margin-left: 0;
        }
    }
    &-item{
        padding-left: 95px;
        @media #{$xl} {
            padding-left: 80px;
            margin-bottom: 50px;
        }
        @media #{$lg,$md,$xs} {
            padding-left: 70px;
            margin-bottom: 50px;
        }
        &::before{
            position: absolute;
            top: 15px;
            left: 0;
            height: 1px;
            width: 60px;
            content: "";
            display: inline-block;
            background-color: rgba($color: #010103, $alpha: 0.1);
        }
        &::after{
            content: "";
            height: 15px;
            width: 15px;
            top: 7px;
            left: -8px;
            border-radius: 50%;
            position: absolute;
            background-color: var(--tp-common-black);
        }
        &-sub{
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 20px;
            display: block ruby;
            text-transform: uppercase;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-bricolage);
            & span{
                display: grid;
                width: 30px;
                height: 30px;
                margin-right: 4px;
                border-radius: 50%;
                text-align: center;
                place-content: center;
                background-color: var(--tp-common-black);
            }
        }
        &-title{
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 12px;
            letter-spacing: -1.68px;
            text-transform: capitalize;
            color: var(--tp-common-black-solid);
            font-family: var(--tp-ff-bricolage);
            @media #{$xl} {
                font-size: 38px;
            }
            @media #{$lg,$md,$xs} {
                font-size: 35px;
            }
        }
        &-text{
            & p{
                font-size: 16px;
                text-transform: capitalize;
                color: rgba(1, 1, 3, 0.60);
                & br{
                    @media #{$xl,$lg,$md,$xs} {
                        display: none;
                    }
                }
            }
        }
    }
    &-title-box{
        @media #{$md,$xs} {
            padding-bottom: 40px;
        }
    }
    &-thumb{
        border-radius: 8px;
        @media #{$md,$xs} {
            margin-bottom: 30px;
        }
        & img{
            border-radius: 8px;
        }
    }
    &-text{
        &-wrap{
            bottom: 14%;
            left: -5px;
            z-index: 0;
            position: absolute;
            @media #{$md,$xs} {
                bottom: 0;
            }
        }
        &-title{
            font-size: 200px;
            font-weight: 800;
            line-height: 1;
            color: #E5F1F1;
            margin: 0;
            letter-spacing: -8px;
            text-transform: uppercase;
            font-family: var(--tp-ff-bricolage);
            @media #{$xl} {
                font-size: 165px;
            }
            @media #{$lg} {
                font-size: 130px;
                letter-spacing: -5px;
            }
            @media #{$md,$xs} {
                font-size: 90px;
                letter-spacing: 0;
            }
        }
    }
}

.inner-step{
    &-style{
        @media #{$md,$xs} {
            padding-top: 100px;
            padding-bottom: 50px;
        }
        & .bnc-step-item-sub {
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-unbounded);
            margin-bottom: 15px;
        }
        & .bnc-step-item-title {
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-unbounded);
            line-height: 260%;
            letter-spacing: -0.04em;
        }
        & .bnc-step-item-sub span {
            color: var(--tp-common-black);
            background-color: var(--tp-common-white);
        }
        & .bnc-step-item-text p {
            color: rgba(555, 555, 555, 0.8);
            & br{
                @media #{$lg} {
                    display: block;
                }
            }
        }
        & .bnc-step-item::after {
            background-color: #808688;
            top: -79px;
            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
        & .bnc-step-item::before {
            background-color: rgba(555, 555, 555, 0.1);
            display: none;
        }
        & .bnc-step-wrapper {
            border-left: none;
            border-top: 1px solid rgba(555, 555, 555, 0.1);
            margin-left: 0;
            padding-top: 70px;
            @media #{$lg,$md,$xs} {
                border: none;
                padding-top: 0;
            }
        }
        & .bnc-step-item {
            padding-left: 0;
        }
        & .bnc-step-text-title {
            letter-spacing: -0.04em;
            color: #0e0e10;
        }
        & .bnc-step-text-wrap {
            bottom: -37px;
            left: auto;
            right: 0;
        }
    }
    &-title{
        font-family: var(--tp-ff-unbounded);
        font-weight: 500;
        font-size: 28px;
        line-height: 136%;
        letter-spacing: -0.04em;
        text-transform: capitalize;
        color: var(--tp-common-white);
    }
    &-content{
        @media #{$lg,$md,$xs} {
            margin-left: 0;
        }
        & p{
            line-height: 162%;
            color: var(--tp-common-white);
            opacity: 0.8;
            font-size: 16px;

        }
        & h4{
            font-family: var(--tp-ff-unbounded);
            font-weight: 400;
            font-size: 24px;
            letter-spacing: -0.04em;
            text-transform: capitalize;
            color: var(--tp-common-white);
        }
    }
    &-list{
        &-item{
            & span{
                border-radius: 100%;
                background: #111113;
                width: 26px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0 0 auto;
                margin-right: 20px;
                margin-top: 10px;
                @media #{$lg} {
                    margin-top: 0;
                }
            }
        }
    }
}