@use '../../utils' as *;

/*----------------------------------------*/
/*  7.18 Text Slider Css
/*----------------------------------------*/

.tp-text-slider{
    &-ptb{
        @media #{$md,$xs} {
            padding-bottom: 80px;
        }
    }
    &-item{
        & span{
            font-size: 36px;
            font-weight: 500;
            line-height: 34px;
            margin-left: 14px;
            display: inline-block;
            text-transform: uppercase;
            color: rgba(1, 1, 3, 0.10);
        }
    }
    &-wrapper{
        & .swiper-slide {
             &:nth-child(2n+2){
                & span{
                    color: var(--tp-common-black);
                }
            }
        }
        & .swiper-slide {
            width: auto;
        }
        &.style-2{
            z-index: 1;
            padding: 19px 0;
            position: relative;
            background-color: var(--tp-theme-primary);
            transform: rotate(-2deg) translateY(-30px);
            @media #{$xs} {
                transform: rotate(-2deg) translateY(0);
            }
            & .tp-text-slider-item{
                & span{
                    font-size: 72px;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: -2.16px;
                    color: var(--tp-common-black);
                    @media #{$xs} {
                        font-size: 50px;
                    }
                    & svg{
                        animation: rotate2 2s linear infinite;
                    }
                }
            }
            & .swiper-slide {
             &:nth-child(2n+2){
                & span{
                    color: transparent;
                    -webkit-text-stroke: 1px rgba(#010103, 0.3);
                }
            }
        }
        }
    }
    &-inner{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.ds-text-slider{
    &-wrapper{
        padding-top: 25px;
        padding-bottom: 28px;
        border-bottom: 1px solid rgba(1, 1, 3, 0.10);
        & .swiper-slide {
            width: auto;
        }
        & .slide-transtion {
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
        }
    }
    &-item{
        & span{
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            margin-left: 42px;
            text-transform: capitalize;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-unbounded);
            & svg{
                animation: rotate2 5s linear infinite;
            }
        }
    }
}

.lw-text-style{
    & .tp-text-slider-item {
        & span {
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
            color: var(--tp-common-black);
        }
    }
}


.ca-text-slider{
    &-ptb{
        padding: 38px 0px 36px;
        @media #{$lg,$md} {
            padding: 30px 0px 30px;
        }
        @media #{$xs} {
            padding: 30px 0px 28px;
        }
    }
    &-wrapper{
        & .swiper-slide {
            width: auto;
        }
        & .tp-text-slider-item {
            & span{
                font-size: 28px;
                font-weight: 500;
                line-height: 1;
                margin-bottom: 0;
                text-transform: capitalize;
                color: var(--tp-common-black);
                font-family: var(--tp-ff-unbounded);
                @media #{$xs} {
                    font-size: 24px;
                }
            }
        }
    }
}


.ca-thumb{
    &-slider{
        z-index: 0;
        position: relative;
        margin-bottom: -40px;
        @media #{$xl,$lg} {
            margin-bottom: -25px;
        }
        @media #{$md,$xs} {
            margin-bottom: 0;
        }
    }
    &-wrapper{
        height: 975px;
        overflow: hidden;
        @media #{$xxl,$xl} {
            height: 800px;
        }
        @media #{$lg} {
            height: 700px;
        }
        @media #{$md} {
            height: 450px;
        }
        @media #{$xs} {
            height: 220px;
        }
        & img{
            width: 100%;
        }
    }
    &-item{
        & p{
            margin: 0;
            font-size: 175px;
            font-weight: 600;
            line-height: 1;
            text-transform: capitalize;
            background: linear-gradient(180deg, #171717 0%, #141414 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: var(--tp-ff-unbounded);
            @media #{$xxl} {
                font-size: 125px;
            }
            @media #{$xl} {
                font-size: 110px;
            }
            @media #{$lg} {
                font-size: 90px;
            }
            @media #{$md} {
                font-size: 70px;
            }
            @media #{$xs} {
                font-size: 36px;
            }
            @media #{$sm} {
                font-size: 52px;
            }
        }
    }
}


.ca-text{
    &-slider{
        & .tp-text-slider-active{
            & .swiper-slide{
                width: auto;
            }
        }
    }
    &-item{
        & p{
            font-size: 118px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -1.2px;
            text-transform: capitalize;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-unbounded);
            @media #{$xxl} {
                font-size: 85px;
            }
            @media #{$xl} {
                font-size: 75px;
            }
            @media #{$lg} {
                font-size: 62px;
            }
            @media #{$md} {
                font-size: 48px;
            }
            @media #{$xs} {
                font-size: 26px;
            }
            @media #{$sm} {
                font-size: 37px;
            }
        }
    }
}


.inner-text{
    &-slider{
        &-wrap{
            & .tp-copyright-slider-item p {
                font-size: 160px;
                color: rgba(1, 1, 3, 0.05);
                @media #{$lg,$md,$sm,$xs} {
                    font-size: 120px;
                }
            }
        }
    }
}
