@forward './hero';
@forward './about';
@forward './banner';
@forward './service';
@forward './work';
@forward './award';
@forward './text-slider';
@forward './testimonial';
@forward './team';
@forward './portfolio';
@forward './funfact';
@forward './price';
@forward './cta';
@forward './brand';
@forward './step';
@forward './faq';
@forward './instagram';
@forward './video';
@forward './application';
@forward './project-slider';
@forward './contact';
@forward './shop';
@forward './login';