@use '../../utils' as *;

/*----------------------------------------*/
/*  4.1 Main Menu
/*----------------------------------------*/

.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    z-index: 10;
    visibility: visible;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 6px 0 rgba(19, 19, 22, 0.08);
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    -webkit-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    & .tp-header-menu > nav > ul > li > a {
        padding: 22px 0;
    }
    &.sticky-white-bg{
        background: rgba(255, 255, 255, 0.9);
        & .logo-white{
            display: none;
        }
        & .logo-black{
            display: block !important;
        }
        & .tp-header-menu > nav > ul > li > a {
            color: var(--tp-common-black);
        }
        & .tp-header-8-bar{
            color: var(--tp-common-white);
            border-color: var(--tp-common-black);
            background-color: var(--tp-common-black);
            & span{
                color: var(--tp-common-white);
            }
        }
    }
    &.sticky-black-bg{
        background: rgba(38, 37, 40, 0.9);
    }
    &.sticky-pest-bg{
        background-color: rgba($color: #093535, $alpha: 0.9);
    }
    &.tp-header-blur{
        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(40px);
            z-index: -1;
        }
    }
    &.tp-header-border {
        border-bottom: 0;
    }
    & .tp-header-logo {
        padding: 0;
    }
    & .tp-header-10-logo a {
        padding: 25px 56px;
        @media #{$xl} {
            padding: 28px 32px;
        }
        @media #{$lg} {
            padding: 25px 40px;
        }
        @media #{$md,$xs} {
            padding: 16px;
        }
    }
}
.logo-black{
    display: none;
}

.sticky-white-bg{
    & .tp-header{
        &-bar{
            & button {
                & i{
                    background-color: var(--tp-common-black);
                }
            }
        }
    }
    &.tp-header{
        &-border{
            border-color: rgba($color: #010103, $alpha: 0.1);
        }
        &-black-border{
            border-bottom:1px solid rgba($color: #fff, $alpha: 0.1);
        }
    }
}
.tp-header{
    &-dropdown{
        & nav{
            & ul{
                & li{
                    position: relative;
                    list-style: none;
                    &.p-static{
                        position: static;
                    }
                    &.has-dropdown{
                        & > a{
                            &::after{
                                content: "\f078";
                                margin-left: 4px;
                                display: inline-block;
                                font-weight: 400;
                                font-size: 13px;
                                transform: translateY(-2px);
                                color: currentColor;
                                transition: all 0.3s 0s ease-out;
                                font-family: var(--tp-ff-fontawesome);
                            }
                        }
                        &:hover {
                            & a{
                                &::after {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }
                    & .tp-submenu{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 260px;
                        z-index: 99;
                        opacity: 0;
                        padding: 12px 0;
                        transition: 0.5s;
                        text-align: start;
                        visibility: hidden;
                        transform-origin: 0 0;
                        transform: scale(1, 0);
                        background: #1C1D20;
                        backdrop-filter: blur(40px);
                        border: 1px solid rgba(245, 247, 245, 0.1);
                        box-shadow: 0 2px 6px 0 rgba(19, 19, 22, 0.08);
                        & li{
                            width: 100%;
                            padding: 0 12px;
                            & a{
                                position: relative;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 1;
                                color: #bfbfc0;
                                padding: 12px 18px;
                                display: inline-block;
                                letter-spacing: -0.01em;
                                text-align: start;
                                width: 100%;
                                @media #{$x3l,$xxl,$xl}{
                                    font-size: 14px;
                                }
                            }
                            & .tp-submenu{
                                top: 0;
                                left: 100%;
                            }
                            &:hover{
                                & > a{
                                    background-color: #252525;
                                    color: var(--tp-common-white);
                                }
                            }

                            &.menu-item-has-children{
                                & > a{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    &::after{
                                        content: "\f107";
                                        font-size: 16px;
                                        font-weight: 400;
                                        margin-left: 2px;
                                        color: #bfbfc0;
                                        display: inline-block;
                                        transform: rotate(-90deg);
                                        transition: all 0.3s 0s ease-out;
                                        font-family: var(--tp-ff-fontawesome);
                                    }
                                }
                                &:hover {
                                    & a{
                                        &::after {
                                            transform: rotate(0deg);
                                            color: var(--tp-common-white);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover > {
                        & .tp-submenu{
                            visibility: visible;
                            opacity: 1;
                            transform: scale(1);
                        }
                        & .tp-megamenu-wrapper{
                            visibility: visible;
                            opacity: 1;
                            transition-duration: .2s;
                            @include tp-transform(perspective(300px) rotateX(0deg));
                        }
                    }
                }
            }
        }
    }
}
.tp-megamenu{
    &-wrapper{
        position: absolute;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        top: 100%;
        left: 0;
        right: 0;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 65px 65px 40px;
        transform-origin: top;
        transition-duration: 0.1s;
        @include tp-transform(perspective(300px) rotateX(-18deg));
        @media #{$xxl,$xl} {
            padding: 40px;
        }
        @media #{$lg,$md,$xs}{
            padding: 25px 0;
        }
        &.megamenu-black-bg{
            backdrop-filter: blur(40px);
            border: 1px solid rgb(47, 47, 47);
            background: rgba(28, 29, 32, 0.9);
            box-shadow: 0 20px 30px -8px rgba(19, 19, 22, 0.1);
            @media #{$lg,$md,$xs}{
                border-color: transparent;
            }
        }
        &.megamenu-white-bg{
            backdrop-filter: blur(40px);
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 2px 6px 0 rgba(19, 19, 22, 0.1);
            & .tp-home-menu-item{
                & .tp-home-menu-item-title {
                    color: #111013;
                    &:hover{
                        color: #111013;
                    }
                }
            }
            & .tp-megamenu-list{
                & ul{
                    border-color: #F3F3F6;
                    & li{
                        &:hover{
                            & a{
                                background-color: #F8F8FB;
                                color: var(--tp-common-black);
                            }
                        }
                        & a{
                            color: #636368;
                        }
                    }
                }
            }
        }
        &.megamenu-pest-bg{
            backdrop-filter: blur(40px);
            border: 1px solid rgba(245, 247, 245, 0.1);
            background: rgba($color: #093535, $alpha: 0.9);
            box-shadow: 0 2px 6px 0 rgba(19, 19, 22, 0.1);
            @media #{$lg,$md,$xs}{
                border-color: transparent;
            }
            & .tp-megamenu-list{
                & ul{
                    border-color: rgba($color: #F3F3F6, $alpha: 0.1);
                    & li{
                        &:hover{
                            & a{
                                background: rgba($color: #fff, $alpha: 0.04);
                            }
                        }
                    }
                }
            }
        }
        &.container-1000{
            max-width: 1000px;
            padding: 25px 15px 5px 7px;
            @media #{$lg,$md,$xs} {
                padding: 0;
            }
        }
        &.tp-home-image{
            height: 100vh;
            overflow-y: scroll;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 13px;
        line-height: 1;
        margin-bottom: 0;
        padding-left: 40px;
        padding-bottom: 25px;
        text-align: start;
        text-transform: uppercase;
        color: var(--tp-common-white);
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        @media #{$xxl} {
            padding-left: 23px;
        }
        @media #{$xl}{
            padding-left: 20px;
        }
        @media #{$lg,$md,$xs}{
            padding-left: 20px;
        }
    }
    &-list{
        height: 100%;
        padding-bottom: 20px;
        @media #{$lg,$md,$xs} {
            padding: 0 0 12px;
        }
        & ul{
            height: 100%;
            position: relative;
            border-right: 1px solid #44444440;
            @media #{$lg,$md,$xs} {
                border: none;
            }
            & li{
                padding: 0 10px;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                & a{
                    position: relative;
                    width: 100%;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1;
                    color: #bfbfc0;
                    padding: 12px 18px;
                    display: inline-block;
                    letter-spacing: -0.01em;
                    text-align: start;
                    @media #{$x4l,$x3l}{
                        font-size: 14px;
                    }
                    @media #{$xxl}{
                        font-size: 14px;
                        padding: 12px 12px;
                    }
                    @media #{$xl}{
                        font-size: 14px;
                        padding:12px 8px;
                    }
                    &:hover{
                        background-color: #252525;
                        color: var(--tp-common-white);
                    } 
                }
            }
        }
        &-thumb{
            top: 0;
            position: absolute;
            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }
}
.dropdown{
    &-white-bg {
        & nav {
            & ul {
                & li {
                    & .tp-submenu {
                        border: 1px solid #F3F3F6;
                        background: rgba($color: #fff, $alpha: 0.9);
                        & li{
                            & a{
                                color: #636368;
                            }
                            &:hover {
                                & > a {
                                    background-color: #F8F8FB;
                                    color: var(--tp-common-black);
                                }
                            }
                            &.menu-item-has-children{
                                & > a{
                                    &::after{
                                        color: #636368;
                                    }
                                }
                                &:hover{
                                    & > a{
                                        &::after{
                                            color: var(--tp-common-black);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-pest-bg{
        & nav {
            & ul {
                & li {
                    & .tp-submenu {
                        background: rgba($color: #093535, $alpha: 0.9);
                        border: 1px solid rgba(245, 247, 245, 0.1);
                        & li{
                            &:hover{
                                & > a{
                                    background: rgba($color: #fff, $alpha: 0.04);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.tp-home-menu{
    &-item{
        text-align: center;
        @media #{$xl} {
            margin-bottom: 30px;
        }
        &:hover{
            & .tp-home-menu-item{
                &-thumb{
                    & img{
                        transform: scale(1.1);
                    }
                }
                &-title{
                    &::after{
                        right: auto;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
        &-thumb{
            position: relative;
            margin-bottom: 20px;
            overflow: hidden;
            height: 170px;
            @media #{$xxl,$xl} {
                height: 122px;
                margin-bottom: 15px;
            }
            & img{
                transition: .4s ease-in-out;
            }
        }
        &-title{
            font-size: 17px;
            font-weight: 700;
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-bricolage);
            @media #{$xl} {
                font-size: 15px;
            }
            &::after{
                position: absolute;
                content: "";
                bottom: 1px;
                right: 0;
                height: 1px;
                width: 0;
                transition: 0.5s;
                background-color: currentColor;
            }
        }
    }
}